/*
 * 工单类型
 */
.kf_type_block{
	position: absolute;
	top:56px;
	left: 10px;
	bottom: 20px;
	right: 10px;
	background-color: #fff;
	text-align: center;
}
.kf_type_list{
	display: inline-block;
	text-align: center;
	overflow: hidden;
	zoom:1;
}
.kf_type_list a{
	display: inline-block;
	width: 160px;
	margin: 40px 60px;
	float: left;
	cursor: pointer;
}
.kf_type_list a.kf_type_itme_no{
	cursor: default;
}
.kf_type_itme span{
	display: inline-block;
	width: 160px;
	font-size: 16px;
	margin-top: 20px;
	color:#36474f;
}
.kf_type_itme .kf_type_itme_img{
	height: 80px;
	width: 80px;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
}
.kf_type_itme_no .kf_type_itme_img{
	background: #999 ;
}
.kf_type_itme .kf_type_itme_img img{
	margin: 20px 0;
}
.kf_type_itme .kf_type_itme_img_1{
	background: #087dd1;
}

.kf_type_itme .kf_type_itme_img_2{
	background: #ff9900;
}

.kf_type_itme .kf_type_itme_img_3{
	background: #00cc66;
}
.kf_type_itme .kf_type_itme_img_4{
	background: #6666ff;
}
.kf_type_itme .kf_type_itme_img_no{
	background: #999;
}

.kf_type_list .kf_type_itme_no:hover .kf_type_itme_img{
	background: #adadad;
}
.kf_type_list a:hover .kf_type_itme_img_1{
	background: #3997da ;
}
.kf_type_list a:hover .kf_type_itme_img_2{
	background: #ffad33 ;
}
.kf_type_list a:hover .kf_type_itme_img_3{
	background: #33d685 ;
}

.kf_type_list a:hover .kf_type_itme_img_4{
	background: #8585ff ;
}


/*
 * 部门添加
 */
.kf_form_box {
    position: absolute;
    top: 56px;
    left: 10px;
    right: 10px;
    bottom: 20px;
    background-color: #fff;
    padding: 10px 20px;
}
.kf_department_add{
	margin-top: 25px;
}
.kf_department_add .kf_group{
	padding: 6px 0;
}
.kf_department_add_content{
	width: 910px;
	border:1px solid #d0d0d0;
	padding: 20px 10px;
	overflow: hidden;
	zoom:1;
}
.kf_department_add_content .kf_group_title{
	width:35px;
}
.kf_department_add_content .kf_group_content{
	margin-left: 35px;
}
.kf_department_add_content .kf_checkbox_2{
	float: left;
}
.kf_department_add_list{
	margin-top: 15px;
}
.kf_department_add_list .kf_checkbox_2{
	width: 100px;
	margin: 10px 0;
}
