#@layout() #define main()

<section class="content-header" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 订单管理</a></li>
        <li>结算商家信息</li>
    </ol>
</section>

<section class="invoice">
    <div class="row">
        <!--搜索-->
        <div class="col-md-12 finance_time finance_time_padding_left" id="findun">
        <div class="form-group">
            <label class="control-label">商家名称：</label>
            <div class="input-group">
                <input id="name" type="text" class="form-control" v-model="username">
            </div>
        </div>
        <button class="btn btn-primary"  @click="findusernme">查询</button>
        </div>

        <!--主要信息展示-->
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr class="trBusiness">
                    <th>编号</th>
                    <th>商家名称</th>
                    <th>商家区域</th>
                    <th>商家电话</th>
                    <th>商家业务</th>
                    <th>账户状态</th>
                    <th>余额</th>
                    <th>近期结算订单</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="orderInfo" >
                <tr v-for="(shop,index) in Shops">
                    <td>{{index+1}}</td>
                    <td style="cursor: pointer" @click="info(shop.user_id)">{{shop.name}}</td>
                    <td>{{shop.area}}</td>
                    <td>{{shop.msg_mobile}}</td>
                    <td>{{shop.title}}</td>
                    <td v-if="shop.state==1">正常</td>
                    <td v-else>异常</td>
                    <td>{{shop.amount}}</td>
                    <td>{{shop.ordersNum}}</td>
                    <td><a style="cursor: pointer" @click="orderInfo(shop.user_id)">详情</a></td>
                </tr>
                </tbody>
            </table>

            <!--分页-->
            <div class="page_box" id="Shoppage">
                <div class="pull-left">
                    <span>共<span>{{number}}</span>条数据，当前显示第 <span>{{page}}</span> 页 ，到</span>
                    <input class="page_number" type="text" v-model="findpages"/>
                    <button class="btn btn-default" @click ="findpram">GO</button>
                </div>

                <div class="pull-right">
                    <a class="page_btn" @click ="findpram1">首页</a> <a class="page_btn" @click ="findpram2">下一页</a>
                    <a class="page_btn" @click ="findpram3">上一页</a> <a class="page_btn" @click ="findpram4">尾页</a>
                </div>
                <!--保存总页数-->
                <input type="hidden"  v-model="totalpage"/>
            </div>

        </div>
    </div>

</section>
#include("../common/_js.html")
<script src="../static/js/ord/settleShop.js" type="text/javascript"></script>
#end
