*{
	margin: 0;
	padding: 0;
}
.dispute_manage .mui-bar{
	box-shadow: none;
	border-bottom: 1px solid #EAEAEA;
}
.dispute_manage .mui-bar .mui-icon {
	color: #333;
	font-size: 35px;
	padding: 5px 0;
	
}
.dispute_manage .mui-bar .a1{
	display: inline-block;
	background: url(../images/dispute_manage_icon1.png) no-repeat;
	width: 20px;
	height: 20px;
	float: right;
	margin: 12px 0;
}
.dispute_manage .mui-content{
	padding-top: 84px;
}
ul,li{
	list-style: none;
}
.content .header_title{
	position: fixed;
	top: 44px;
	width: 100%;
	z-index: 10;
}
.content .header_title:after{
	display: block;
	visibility: hidden;
	clear: both;
	content: "";
}
.content .header_title li{
	background-color: #FFFFFF;
	padding: 10px 0;
	width: calc(100% /3);
	float: left;
	text-align: center;
	font-size: 14px;
}
.content .header_title li span{
	padding: 11px 0;
}
.content .header_title li .span_active{
	
	color: #00a2ff;
	border-bottom: 2px solid #00a2ff;
}
.content .item{
	margin: 10px 0 0 0;
} 
.content .item{
	padding: 10px;
	background-color: #FFFFFF;
}
.content .item:after{
	display: block;
	visibility: hidden;
	content: "";
	clear: both;
}
.content .item .item_left{
     position: relative;
}
.content .item .item_left .p1{
	margin: 0;
}
.content .item .item_left .p1 .span2{
	color: #000000;
	margin-left: 5px;
}
.content .item .item_left .p2{
	margin: 0;
}
.content .item .item_left .p2 .span2{
	color: #00a2ff;
	margin-left: 5px;
}
 .item .item_left .p2 .span2_active{
	color: #000000 !important;
}
 .item .item_left .div1 .img1{
	width: 65px;
	height: 65px;
	padding: 0 5px 5px 0;
	float: left;

}
 .item .item_left .div1 .div1_p1{
	width: calc(100% - 65px);
	float: left;
	padding:0 5px 0 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    color: #000000;
}
.item .item_left .item_left_img1{
	width: 60px;
    position: absolute;
    top: 0;
    right: 0;
	
}
.content .list1{
	/*display: none;*/
}
.content .list2{
	display: none;
	
}
.content .list3{
	display: none;
}

/*没有内容的css*/
.no_content{
	background: url(../images/i_reported_no_icon1.png) no-repeat;
	width: 75px;
	height: 103px;
	margin: 40% auto;
	background-position: 50% 50%;
	text-align: center;
}
.no_content .p1{
	position: relative;
	top: 110px;
	margin: 0 auto;
	font-size: 17px;
	width: 90px;

}
