*{
	margin: 0;
	padding: 0;
}
.report .mui-bar{
	box-shadow: none;
	border-bottom: 1px solid #EAEAEA;
}
.report .mui-bar .mui-icon {
	color: #333;
	font-size: 35px;
	padding: 5px 0;
	
}
 .report .mui-content{
 	padding-bottom: 44px;
 }
ul,li{
	list-style: none;
}


.content .report_progress{
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px 0 0 0;
}
.report_progress .progress_list .list_item{
	padding: 0 0 0 40px;
	height: 65px;
	position: relative;
}
.report_progress .progress_list .list_item:after{
	display: block;
	clear: both;
	visibility: hidden;
	content: "";
}
.report_progress .progress_list .list_item:last-child{
	height: 45px;
}
.report_progress .progress_list .list_item .span1{
	background: url(../images/report_progress_icon.png) no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	float: left;
	position: absolute;
	left: 34px;
	top: 6px;
}
.report_progress .progress_list .list_item .span2{
	background: url(../images/report_progress_icon2.png) no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	float: left;
	position: absolute;
	left: 36px;
	top: 8px;   
}
.report_progress .progress_list .list_item .span_line{
	width: 1px;
	height: 60px;
	background-color: #b8b8b8;
	float: left;
	position: absolute;
	top: 18px;
	left: 40px;
}
.report_progress .progress_list .list_item .text1{
	display: inline-block;
	width: calc(100% - 20px);
	float: right;
	padding: 0 0 0 20px;	
}
.report_progress .progress_list .list_item .text1 .p2{
	color: #00a2ff;
}
.progress_list .list_item .text1 .p1{
	margin: 0;
}

.content .report_object{
	margin: 10px 0 0 0;
	background-color: #FFFFFF;
	padding: 15px 10px;
	font-size: 14px;
	width: 100%;
}
.content .report_object:after{
	display: block;
	clear: both;
	visibility: hidden;
	content: "";
}
.content .report_object .span1{
	width: 70px;
	color: #8F8F94;
	vertical-align: top;
}
.content .report_object .report_object_a1{
	width: calc(100% - 70px);
	float: right;
}
.content .report_object .report_object_a1 .a1_img1{
	width: 80px;
	height: 80px;	
}
.content .report_object .report_object_a1 .a1_text{
	width: calc(100% - 90px);
	float: right;
	display:block;	
}
.content .report_object .report_object_a1 .a1_text .a1_text_p1{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    color: #000000;
    margin-bottom: 20px;
}
.content .report_object .report_object_a1 .a1_text .a1_text_p2{
	color: #ff0000;
	margin: 0;
}
.content .report_content{
	padding: 10px;
	margin: 10px 0 0 0;
	background-color: #FFFFFF;
	font-size: 14px;
	position: relative;
}
.content .report_content .report_content_img1{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 58px;
}
.report_content .report_content_number .span1{
	color: #8F8F94;
}
.report_content .report_content_type .span1{
	color: #8F8F94;
}
.report_content .report_content_problem{
	margin: 10px 0 0 0;
}
.report_content .report_content_problem:after{
	display: block;
	visibility: hidden;
	content: "";
	clear: both;
}

.report_content .report_content_problem .p1{
	width: 75px;
	float: left;
	
}
.report_content .report_content_problem .text1{
	width: calc(100% - 75px);
	float: left;
}
.report_content .report_content_problem .text1 .text1_p1{
	color: #000000;
}
.report_content .report_content_problem .text1 .text1_img1{
	width: 80px;
	height: 80px;
	margin: 0 5px 5px 0;
}
.report_supplement{
	margin: 10px 0 0 0;
	background-color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
}
.report_supplement:after{
	display: block;
	visibility: hidden;
	content: "";
	clear: both;
}
.report_supplement .report_supplement_title{
	width: 75px;
	float: left;
	color: #f60;
}
.report_supplement .report_supplement_text{
	width: calc(100% - 75px);
	float: left;
}
.report_supplement .report_supplement_text .text_list .list_item{
	border-bottom: 1px solid #efefef;
	margin: 0 0 10px 0;
}
.report_supplement .report_supplement_text .text_list .list_item .p1{
	color: #000000;
	margin: 0;
}
.report_supplement .report_supplement_text .text_list .list_item .img1{
    width:80px ;
    height: 80px;
    margin: 0 5px 5px 0;
}

.footer{
	position: fixed;
	bottom: 0;
	height: 44px;
	width: 100%;
	font-size: 15px;
}
.footer .footer_a1{
	width: 50%;
	background-color: #00a2ff;
	color: #FFFFFF;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	float: left;
}
.footer .footer_a1_2{
	width: 100%;
}
.footer .footer_a2{
	width: 50%;
	background-color: #FFFFFF;
	color: #00a2ff;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	float: left;
}
/*仲裁结果*/
.content .report_result{
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px 0 0 0;
	font-size: 14px;

}
.content .report_result:after{
	display: block;
	visibility: hidden;
	content: "";
	clear: both;
}
.content .report_result .report_result_title{
	width: 75px;
	float: left;
	color: #FF6600;
}
.content .report_result .report_result_text{
	width: calc(100% - 75px);
	float: left;
}
.content .report_result .report_result_text .p1{
	color: #000000;
}
.content .report_result .report_result_text .img1{
	width: 80px;
	height: 80px;
	margin: 0 5px 5px 0;
}
/*第二种补充资料的css*/
.report_supplement2_title{
	background-color: #FFFFFF;
	margin: 10px 0 0 0;
	padding: 10px;
	color: #8F8F94;
	border-bottom: 1px solid #EAEAEA;
	font-size: 14px;
}
.report_supplement2{
	background-color: #FFFFFF;
	padding: 10px;
}

.supplement2_list .supplement2_item:after{
	display: block;
	visibility: hidden;
	clear: both;
	content: "";
	margin-bottom: 20px;
}
.supplement2_list .supplement2_item .supplement2_name{
	padding: 10px 0 0 0;
	width:40px;
	float: left;
	position: relative;
	text-align: center;
}
.supplement2_list .supplement2_item .supplement2_name_2{
	float: right;
}
.supplement2_list .supplement2_item .supplement2_name .supplement2_name_img1{
	width: 20px;
	height: 20px;
}
.triangle_left {
	position: absolute;
	top: 25px;
	left: -9px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 10px solid #fafafa;
    border-bottom: 9px solid transparent;
}
.triangle_left_2{
	position: absolute;
	top: 25px;
	right: -9px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 10px solid #e9f7ff;
    border-bottom: 9px solid transparent;
}
.supplement2_list .supplement2_item .supplement2_text{
	position: relative;
	width: calc(100% - 55px);
	padding: 10px 15px;
	float: right;
    background-color: #fafafa;
    border-radius: 5px;
	
}
.supplement2_list .supplement2_item .supplement2_text_2{
	float: left;
	background-color: #e9f7ff;
}
.supplement2_list .supplement2_item .supplement2_text .p1{
	margin: 0;
}
.supplement2_list .supplement2_item .supplement2_text .p2{
	color: #000000;
	margin: 0;
}
