<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- 用户 -->
		<typeAlias alias="UserGroup" type="com.manji.backstage.model.user.Group"/>
		<typeAlias alias="User" type="com.manji.backstage.model.user.User"/>
		<typeAlias alias="Verify" type="com.manji.backstage.model.user.Verify"/>
		<typeAlias alias="Person" type="com.manji.backstage.model.user.PersonInfo"/>
		<typeAlias alias="UserCountsDto" type="com.manji.backstage.dto.user.UserGroupCountsDto"/>
		<typeAlias alias="UserFavorites" type="com.manji.backstage.model.user.UserFavorites"/>
		
		<typeAlias alias="RecAddr" type="com.manji.backstage.model.user.RecAddr"/>
		<typeAlias alias="PersonInfo" type="com.manji.backstage.model.user.PersonInfo"/>
		<typeAlias alias="CompanyInfo" type="com.manji.backstage.model.user.CompanyInfo"/>
		<typeAlias alias="BankType" type="com.manji.backstage.model.user.BankType"/>
		
		
		<typeAlias alias="UserVo" type="com.manji.backstage.vo.user.UserVo"/>
		<typeAlias alias="VerifyVo" type="com.manji.backstage.vo.user.VerifyVo"/>
		<typeAlias alias="RecAddrVo" type="com.manji.backstage.vo.user.RecAddrVo"/>
		<typeAlias alias="PersonInfoVo" type="com.manji.backstage.vo.user.PersonInfoVo"/>
		<typeAlias alias="CompanyInfoVo" type="com.manji.backstage.vo.user.CompanyInfoVo"/>
		<typeAlias alias="BankTypeVo" type="com.manji.backstage.vo.user.BankTypeVo"/>
		<typeAlias alias="UserFavoritesVo" type="com.manji.backstage.vo.user.UserFavoritesVo"/>
		
		
		
		
		
		
		<!-- 店铺 -->
		<typeAlias alias="ShopGroup" type="com.manji.backstage.model.shop.Group"/>
		<typeAlias alias="ShopInfo" type="com.manji.backstage.model.shop.ShopInfo"/>
		<typeAlias alias="TempShopInfo" type="com.manji.backstage.model.shop.TempShopInfo"/>
		<typeAlias alias="Business" type="com.manji.backstage.model.shop.Business"/>
		<typeAlias alias="Cooperate" type="com.manji.backstage.model.shop.Cooperate"/>
		<typeAlias alias="OtherInfo" type="com.manji.backstage.model.shop.OtherInfo"/>
		<typeAlias alias="ScopeInfo" type="com.manji.backstage.model.shop.ScopeInfo"/>
		<typeAlias alias="BuyerInfo" type="com.manji.backstage.model.shop.BuyerInfo"/>
		<typeAlias alias="Complaint" type="com.manji.backstage.model.shop.Complaint"/>
		<typeAlias alias="CompContent" type="com.manji.backstage.model.shop.CompContent"/>
		<typeAlias alias="CompHandle" type="com.manji.backstage.model.shop.CompHandle"/>
		
		<typeAlias alias="ShopInfoVo" type="com.manji.backstage.vo.shop.ShopInfoVo"/>
		<typeAlias alias="TempShopInfoVo" type="com.manji.backstage.vo.shop.TempShopInfoVo"/>
		<typeAlias alias="BusinessVo" type="com.manji.backstage.vo.shop.BusinessVo"/>
		<typeAlias alias="CooperateVo" type="com.manji.backstage.vo.shop.CooperateVo"/>
		<typeAlias alias="OtherInfoVo" type="com.manji.backstage.vo.shop.OtherInfoVo"/>
		<typeAlias alias="ScopeInfoVo" type="com.manji.backstage.vo.shop.ScopeInfoVo"/>
		<typeAlias alias="BuyerInfoVo" type="com.manji.backstage.vo.shop.BuyerInfoVo"/>
		<typeAlias alias="ComplaintVo" type="com.manji.backstage.vo.shop.ComplaintVo"/>
		<typeAlias alias="CompContentVo" type="com.manji.backstage.vo.shop.CompContentVo"/>
		<typeAlias alias="CompHandleVo" type="com.manji.backstage.vo.shop.CompHandleVo"/>
		
		
		<typeAlias alias="ShopCountsDto" type="com.manji.backstage.dto.shop.ShopGroupCountsDto"/> 
		
		
		<!-- 代理商 -->
		<typeAlias alias="AgentGroup" type="com.manji.backstage.model.agent.Group"/> 
		<typeAlias alias="AgentInfo" type="com.manji.backstage.model.agent.AgentInfo"/> 
		<typeAlias alias="AgentInfoVo" type="com.manji.backstage.vo.agent.AgentInfoVo"/> 
		<typeAlias alias="AgentInfoTemp" type="com.manji.backstage.model.agent.AgentInfoTemp"/> 
		<typeAlias alias="AgentInfoTempVo" type="com.manji.backstage.vo.agent.AgentInfoTempVo"/> 
		
		
		<!-- 运维 -->
		<typeAlias alias="Category" type="com.manji.backstage.model.operation.Category"/> 
		<typeAlias alias="Brand" type="com.manji.backstage.model.operation.Brand"/> 
		<typeAlias alias="Spec" type="com.manji.backstage.model.operation.Spec"/> 
		<typeAlias alias="Attri" type="com.manji.backstage.model.operation.Attri"/> 
		<typeAlias alias="CategorySpec" type="com.manji.backstage.model.operation.CategorySpec"/> 
		<typeAlias alias="AppVersion" type="com.manji.backstage.model.operation.AppVersion"/> 
		<typeAlias alias="QrCode" type="com.manji.backstage.model.operation.QrCode"/> 
		<typeAlias alias="Menu" type="com.manji.backstage.model.operation.Menu"/> 
		<typeAlias alias="Screen" type="com.manji.backstage.model.operation.Screen"/> 
		<typeAlias alias="AdvertNavigation" type="com.manji.backstage.model.operation.AdvertNavigation"/> 
		<typeAlias alias="Advert" type="com.manji.backstage.model.operation.Advert"/> 
		<typeAlias alias="ApoSite" type="com.manji.backstage.model.operation.ApoSite"/> 
		<typeAlias alias="ApoSiteContent" type="com.manji.backstage.model.operation.ApoSiteContent"/> 
		<typeAlias alias="ApoScreen" type="com.manji.backstage.model.operation.ApoScreen"/> 
		<typeAlias alias="Navigation" type="com.manji.backstage.model.operation.Navigation"/> 
		<typeAlias alias="ApoProvince" type="com.manji.backstage.model.operation.ApoProvince"/> 
		<typeAlias alias="ApoCity" type="com.manji.backstage.model.operation.ApoCity"/> 
		<typeAlias alias="ApoCounty" type="com.manji.backstage.model.operation.ApoCounty"/> 
		<typeAlias alias="ApoTown" type="com.manji.backstage.model.operation.ApoTown"/> 
		<typeAlias alias="ApoVillage" type="com.manji.backstage.model.operation.ApoVillage"/> 
		<typeAlias alias="ApoSfz" type="com.manji.backstage.model.operation.ApoSfz"/>  
		<typeAlias alias="Files" type="com.manji.backstage.model.operation.Files"/>  
		
		<typeAlias alias="BrandVo" type="com.manji.backstage.vo.operation.BrandVo"/> 
		<typeAlias alias="AppVersionVo" type="com.manji.backstage.vo.operation.AppVersionVo"/> 
		<typeAlias alias="QrCodeVo" type="com.manji.backstage.vo.operation.QrCodeVo"/> 
		<typeAlias alias="MenuVo" type="com.manji.backstage.vo.operation.MenuVo"/> 
		<typeAlias alias="ScreenVo" type="com.manji.backstage.vo.operation.ScreenVo"/> 
		<typeAlias alias="AdvertNavigationVo" type="com.manji.backstage.vo.operation.AdvertNavigationVo"/> 
		<typeAlias alias="AdvertVo" type="com.manji.backstage.vo.operation.AdvertVo"/> 
		<typeAlias alias="ApoSiteVo" type="com.manji.backstage.vo.operation.ApoSiteVo"/> 
		<typeAlias alias="ApoSiteContentVo" type="com.manji.backstage.vo.operation.ApoSiteContentVo"/> 
		<typeAlias alias="ApoScreenVo" type="com.manji.backstage.vo.operation.ApoScreenVo"/> 
		<typeAlias alias="NavigationVo" type="com.manji.backstage.vo.operation.NavigationVo"/> 
		<typeAlias alias="ApoProvinceVo" type="com.manji.backstage.vo.operation.ApoProvinceVo"/>
		<typeAlias alias="ApoCityVo" type="com.manji.backstage.vo.operation.ApoCityVo"/>
		<typeAlias alias="ApoCountyVo" type="com.manji.backstage.vo.operation.ApoCountyVo"/>
		<typeAlias alias="ApoTownVo" type="com.manji.backstage.vo.operation.ApoTownVo"/>
		<typeAlias alias="ApoVillageVo" type="com.manji.backstage.vo.operation.ApoVillageVo"/>
		<typeAlias alias="ApoSfzVo" type="com.manji.backstage.vo.operation.ApoSfzVo"/> 
		<typeAlias alias="FilesVo" type="com.manji.backstage.vo.operation.FilesVo"/> 

		
		
		
		<!-- 账户 -->
		
		<typeAlias alias="Account" type="com.manji.backstage.model.account.Account"/> 
		<typeAlias alias="AccountVo" type="com.manji.backstage.vo.account.AccountVo"/> 
		<typeAlias alias="Recharge" type="com.manji.backstage.model.account.Recharge"/> 
		<typeAlias alias="RechargeVo" type="com.manji.backstage.vo.account.RechargeVo"/> 
		<typeAlias alias="Transaction" type="com.manji.backstage.model.account.Transaction"/> 
		<typeAlias alias="TransactionVo" type="com.manji.backstage.vo.account.TransactionVo"/> 
		<typeAlias alias="Withdrawals" type="com.manji.backstage.model.account.Withdrawals"/> 
		<typeAlias alias="WithdrawalsVo" type="com.manji.backstage.vo.account.WithdrawalsVo"/> 
		<typeAlias alias="YiJiAccount" type="com.manji.backstage.model.account.YiJiAccount"/> 
		<typeAlias alias="YiJiAccountVo" type="com.manji.backstage.vo.account.YiJiAccountVo"/> 
		
		
		
		
		
		
		
		
		<!-- 订单 -->
		<typeAlias alias="OrderGoods" type="com.manji.backstage.model.order.OrderGoods"/> 
		<typeAlias alias="OrderBookInfo" type="com.manji.backstage.model.order.OrderBookInfo"/> 
		<typeAlias alias="OrderDistributioninfo" type="com.manji.backstage.model.order.OrderDistributioninfo"/> 
		<typeAlias alias="OrderVirtualinfo" type="com.manji.backstage.model.order.OrderVirtualinfo"/> 
		<typeAlias alias="OrderGoodInfo" type="com.manji.backstage.model.order.OrderGoodInfo"/> 
		<typeAlias alias="OrderSms" type="com.manji.backstage.model.order.OrderSms"/> 
		<typeAlias alias="OrderAdvert" type="com.manji.backstage.model.order.OrderAdvert"/> 
		<typeAlias alias="OrderBusiness" type="com.manji.backstage.model.order.OrderBusiness"/> 
		<typeAlias alias="OrderBackInfo" type="com.manji.backstage.model.order.OrderBackInfo"/> 
		<typeAlias alias="Orders" type="com.manji.backstage.model.order.Orders"/> 
		<typeAlias alias="OrderCallback" type="com.manji.backstage.model.order.OrderCallback"/> 
		<typeAlias alias="OrderComment" type="com.manji.backstage.model.order.OrderComment"/> 
		<typeAlias alias="OrderCommentFalse" type="com.manji.backstage.model.order.OrderCommentFalse"/> 
		<typeAlias alias="OrderCommentTem" type="com.manji.backstage.model.order.OrderCommentTem"/> 
		<typeAlias alias="OrderSettlement" type="com.manji.backstage.model.order.OrderSettlement"/> 
		<typeAlias alias="OrderOnlinePay" type="com.manji.backstage.model.order.OrderOnlinePay"/> 
		<typeAlias alias="OrderPartner" type="com.manji.backstage.model.order.OrderPartner"/> 
		
		<typeAlias alias="OrderGoodsVo" type="com.manji.backstage.vo.order.OrderGoodsVo"/> 
		<typeAlias alias="OrderBookInfoVo" type="com.manji.backstage.vo.order.OrderBookInfoVo"/> 
		<typeAlias alias="OrderDistributioninfoVo" type="com.manji.backstage.vo.order.OrderDistributioninfoVo"/> 
		<typeAlias alias="OrderVirtualinfoVo" type="com.manji.backstage.vo.order.OrderVirtualinfoVo"/> 
		<typeAlias alias="OrderGoodInfoVo" type="com.manji.backstage.vo.order.OrderGoodInfoVo"/> 
		<typeAlias alias="OrderSmsVo" type="com.manji.backstage.vo.order.OrderSmsVo"/> 
		<typeAlias alias="OrderAdvertVo" type="com.manji.backstage.vo.order.OrderAdvertVo"/> 
		<typeAlias alias="OrderBusinessVo" type="com.manji.backstage.vo.order.OrderBusinessVo"/> 
		<typeAlias alias="OrderBackInfoVo" type="com.manji.backstage.vo.order.OrderBackInfoVo"/> 
		<typeAlias alias="OrdersVo" type="com.manji.backstage.vo.order.OrdersVo"/> 
		<typeAlias alias="OrderCallbackVo" type="com.manji.backstage.vo.order.OrderCallbackVo"/> 
		<typeAlias alias="OrderCommentVo" type="com.manji.backstage.vo.order.OrderCommentVo"/> 
		<typeAlias alias="OrderCommentFalseVo" type="com.manji.backstage.vo.order.OrderCommentFalseVo"/> 
		<typeAlias alias="OrderCommentTemVo" type="com.manji.backstage.vo.order.OrderCommentTemVo"/> 
		<typeAlias alias="OrderSettlementVo" type="com.manji.backstage.vo.order.OrderSettlementVo"/> 
		<typeAlias alias="OrderOnlinePayVo" type="com.manji.backstage.vo.order.OrderOnlinePayVo"/> 
		<typeAlias alias="OrderPartnerVo" type="com.manji.backstage.vo.order.OrderPartnerVo"/> 
		
		
		
		<!-- 消息 -->
		<typeAlias alias="Notice" type="com.manji.backstage.model.message.Notice"/>
		<typeAlias alias="UserMessage" type="com.manji.backstage.model.message.UserMessage"/>
		<typeAlias alias="UserNotice" type="com.manji.backstage.model.message.UserNotice"/>
		
		<typeAlias alias="NoticeVo" type="com.manji.backstage.vo.message.NoticeVo"/>
		<typeAlias alias="UserMessageVo" type="com.manji.backstage.vo.message.UserMessageVo"/>
		<typeAlias alias="UserNoticevo" type="com.manji.backstage.vo.message.UserNoticeVo"/>
		<!-- 日志 -->
		<typeAlias alias="LoginLog" type="com.manji.backstage.model.logger.LoginLog"/>
		<typeAlias alias="SignLog" type="com.manji.backstage.model.logger.SignLog"/>
		<typeAlias alias="SmsLog" type="com.manji.backstage.model.logger.SmsLog"/>
		<typeAlias alias="EmailLog" type="com.manji.backstage.model.logger.EmailLog"/>
		<typeAlias alias="FileDownLog" type="com.manji.backstage.model.logger.FileDownLog"/>
		<typeAlias alias="AmountLog" type="com.manji.backstage.model.logger.AmountLog"/>
		<typeAlias alias="VoucherLog" type="com.manji.backstage.model.logger.VoucherLog"/>
		<typeAlias alias="PointLog" type="com.manji.backstage.model.logger.PointLog"/>
		<typeAlias alias="CreditLog" type="com.manji.backstage.model.logger.CreditLog"/>
		<typeAlias alias="ReputationLog" type="com.manji.backstage.model.logger.ReputationLog"/>
		<typeAlias alias="PageViewLog" type="com.manji.backstage.model.logger.PageViewLog"/>
		<typeAlias alias="DeviceLog" type="com.manji.backstage.model.logger.DeviceLog"/>
		<typeAlias alias="KeyWords" type="com.manji.backstage.model.logger.KeyWords"/>
		<typeAlias alias="KeyHashs" type="com.manji.backstage.model.logger.KeyHashs"/>
		<typeAlias alias="WordsFilterLog" type="com.manji.backstage.model.logger.WordsFilterLog"/>
		<typeAlias alias="FileFilterLog" type="com.manji.backstage.model.logger.FileFilterLog"/>
		<typeAlias alias="ReportLog" type="com.manji.backstage.model.logger.ReportLog"/>
		<typeAlias alias="BalanceLog" type="com.manji.backstage.model.logger.BalanceLog"/>
		<typeAlias alias="RoleAudit" type="com.manji.backstage.model.logger.RoleAudit"/>
		<typeAlias alias="AuditLog" type="com.manji.backstage.model.logger.AuditLog"/>
		
		<typeAlias alias="LoginLogVo" type="com.manji.backstage.vo.logger.LoginLogVo"/>
		<typeAlias alias="SignLogVo" type="com.manji.backstage.vo.logger.SignLogVo"/>
		<typeAlias alias="SmsLogVo" type="com.manji.backstage.vo.logger.SmsLogVo"/>
		<typeAlias alias="EmailLogVo" type="com.manji.backstage.vo.logger.EmailLogVo"/>
		<typeAlias alias="FileDownLogVo" type="com.manji.backstage.vo.logger.FileDownLogVo"/>
		<typeAlias alias="AmountLogVo" type="com.manji.backstage.vo.logger.AmountLogVo"/>
		<typeAlias alias="VoucherLogVo" type="com.manji.backstage.vo.logger.VoucherLogVo"/>
		<typeAlias alias="PointLogVo" type="com.manji.backstage.vo.logger.PointLogVo"/>
		<typeAlias alias="CreditLogVo" type="com.manji.backstage.vo.logger.CreditLogVo"/>
		<typeAlias alias="ReputationLogVo" type="com.manji.backstage.vo.logger.ReputationLogVo"/>
		<typeAlias alias="PageViewLogVo" type="com.manji.backstage.vo.logger.PageViewLogVo"/>
		<typeAlias alias="DeviceLogVo" type="com.manji.backstage.vo.logger.DeviceLogVo"/>
		<typeAlias alias="KeyWordsVo" type="com.manji.backstage.vo.logger.KeyWordsVo"/>
		<typeAlias alias="KeyHashsVo" type="com.manji.backstage.vo.logger.KeyHashsVo"/>
		<typeAlias alias="WordsFilterLogVo" type="com.manji.backstage.vo.logger.WordsFilterLogVo"/>
		<typeAlias alias="FileFilterLogVo" type="com.manji.backstage.vo.logger.FileFilterLogVo"/>
		<typeAlias alias="ReportLogVo" type="com.manji.backstage.vo.logger.ReportLogVo"/>
		<typeAlias alias="RoleAuditVo" type="com.manji.backstage.vo.logger.RoleAuditVo"/>
		<typeAlias alias="AuditLogVo" type="com.manji.backstage.vo.logger.AuditLogVo"/>
		
		
		
		<!-- 配置 -->
		<typeAlias alias="SmsTemplate" type="com.manji.backstage.model.property.SmsTemplate"/>
		<typeAlias alias="EmailTemplate" type="com.manji.backstage.model.property.EmailTemplate"/>
		<typeAlias alias="Config" type="com.manji.backstage.model.property.Config"/>
		
		<typeAlias alias="Distribution" type="com.manji.backstage.model.property.Distribution"/>
		<typeAlias alias="Express" type="com.manji.backstage.model.property.Express"/>
		<typeAlias alias="Payment" type="com.manji.backstage.model.property.Payment"/>
		<typeAlias alias="Medal" type="com.manji.backstage.model.property.Medal"/>
		
		
		<typeAlias alias="SmsTemplateVo" type="com.manji.backstage.vo.property.SmsTemplateVo"/>
		<typeAlias alias="EmailTemplateVo" type="com.manji.backstage.vo.property.EmailTemplateVo"/>
		<typeAlias alias="ConfigVo" type="com.manji.backstage.vo.property.ConfigVo"/>
		
		<typeAlias alias="DistributionVo" type="com.manji.backstage.vo.property.DistributionVo"/>
		<typeAlias alias="ExpressVo" type="com.manji.backstage.vo.property.ExpressVo"/>
		<typeAlias alias="PaymentVo" type="com.manji.backstage.vo.property.PaymentVo"/>
		<typeAlias alias="MedalVo" type="com.manji.backstage.vo.property.MedalVo"/>
		
		
		
		
		<!-- 内容 -->
		<typeAlias alias="Article" type="com.manji.backstage.model.content.Article"/>
		<typeAlias alias="ArticleInfo" type="com.manji.backstage.model.content.ArticleInfo"/>
		<typeAlias alias="ArticleAlbums" type="com.manji.backstage.model.content.ArticleAlbums"/>
		<typeAlias alias="ArticleComment" type="com.manji.backstage.model.content.ArticleComment"/>
		<typeAlias alias="ArticleCount" type="com.manji.backstage.model.content.ArticleCount"/>
		<typeAlias alias="ArticleContent" type="com.manji.backstage.model.content.ArticleContent"/>
		<typeAlias alias="ArticleGoods" type="com.manji.backstage.model.content.ArticleGoods"/>
		<typeAlias alias="ArticleScreen" type="com.manji.backstage.model.content.ArticleScreen"/>
		<typeAlias alias="ActBusiness" type="com.manji.backstage.model.content.ActBusiness"/>
		<typeAlias alias="ActIndex" type="com.manji.backstage.model.content.ActIndex"/>
		<typeAlias alias="BusiTemp" type="com.manji.backstage.model.content.BusiTemp"/>
		<typeAlias alias="ActIndUser" type="com.manji.backstage.model.content.ActIndUser"/>
		<typeAlias alias="ActCommon" type="com.manji.backstage.model.content.ActCommon"/>
		<typeAlias alias="ActShop" type="com.manji.backstage.model.content.ActShop"/>
		<typeAlias alias="ActShopGoods" type="com.manji.backstage.model.content.ActShopGoods"/>
		<typeAlias alias="ActSms" type="com.manji.backstage.model.content.ActSms"/>
		<typeAlias alias="ActAdvert" type="com.manji.backstage.model.content.ActAdvert"/>
		<typeAlias alias="ActBusShop" type="com.manji.backstage.model.content.ActBusShop"/>
		<typeAlias alias="ActBusGoods" type="com.manji.backstage.model.content.ActBusGoods"/>
		<typeAlias alias="ActRecherge" type="com.manji.backstage.model.content.ActRecherge"/>
		<typeAlias alias="ActRecUser" type="com.manji.backstage.model.content.ActRecUser"/>
		<typeAlias alias="Channel" type="com.manji.backstage.model.content.Channel"/>
		<typeAlias alias="ChannelField" type="com.manji.backstage.model.content.ChannelField"/>
		<typeAlias alias="ChannelSpec" type="com.manji.backstage.model.content.ChannelSpec"/>
		<typeAlias alias="ChannelSite" type="com.manji.backstage.model.content.ChannelSite"/>
		<typeAlias alias="ArticleCategory" type="com.manji.backstage.model.content.ArticleCategory"/>
		<typeAlias alias="ArticleCategoryCount" type="com.manji.backstage.model.content.ArticleCategoryCount"/>
		<typeAlias alias="ArticleCategoryUser" type="com.manji.backstage.model.content.ArticleCategoryUser"/>
		<typeAlias alias="ArticleCategoryField" type="com.manji.backstage.model.content.ArticleCategoryField"/>
		<typeAlias alias="ArticleCategorySpec" type="com.manji.backstage.model.content.ArticleCategorySpec"/>
		
		
		<typeAlias alias="ArticleVo" type="com.manji.backstage.vo.content.ArticleVo"/>
		<typeAlias alias="ArticleInfoVo" type="com.manji.backstage.vo.content.ArticleInfoVo"/>
		<typeAlias alias="ArticleAlbumsVo" type="com.manji.backstage.vo.content.ArticleAlbumsVo"/>
		<typeAlias alias="ArticleCommentVo" type="com.manji.backstage.vo.content.ArticleCommentVo"/>
		<typeAlias alias="ArticleCountVo" type="com.manji.backstage.vo.content.ArticleCountVo"/>
		<typeAlias alias="ArticleContentVo" type="com.manji.backstage.vo.content.ArticleContentVo"/>
		<typeAlias alias="ArticleGoodsVo" type="com.manji.backstage.vo.content.ArticleGoodsVo"/>
		<typeAlias alias="ArticleScreenVo" type="com.manji.backstage.vo.content.ArticleScreenVo"/>
		<typeAlias alias="ActBusinessVo" type="com.manji.backstage.vo.content.ActBusinessVo"/>
		<typeAlias alias="ActIndexVo" type="com.manji.backstage.vo.content.ActIndexVo"/>
		<typeAlias alias="BusiTempVo" type="com.manji.backstage.vo.content.BusiTempVo"/>
		<typeAlias alias="ActIndUserVo" type="com.manji.backstage.vo.content.ActIndUserVo"/>
		<typeAlias alias="ActCommonVo" type="com.manji.backstage.vo.content.ActCommonVo"/>
		<typeAlias alias="ActShopVo" type="com.manji.backstage.vo.content.ActShopVo"/>
		<typeAlias alias="ActShopGoodsVo" type="com.manji.backstage.vo.content.ActShopGoodsVo"/>
		<typeAlias alias="ActSmsVo" type="com.manji.backstage.vo.content.ActSmsVo"/>
		<typeAlias alias="ActAdvertVo" type="com.manji.backstage.vo.content.ActAdvertVo"/>
		<typeAlias alias="ActBusShopVo" type="com.manji.backstage.vo.content.ActBusShopVo"/>
		<typeAlias alias="ActBusGoodsVo" type="com.manji.backstage.vo.content.ActBusGoodsVo"/>
		<typeAlias alias="ActRechergeVo" type="com.manji.backstage.vo.content.ActRechergeVo"/>
		<typeAlias alias="ActRecUserVo" type="com.manji.backstage.vo.content.ActRecUserVo"/>
		<typeAlias alias="ChannelVo" type="com.manji.backstage.vo.content.ChannelVo"/>
		<typeAlias alias="ChannelFieldVo" type="com.manji.backstage.vo.content.ChannelFieldVo"/>
		<typeAlias alias="ChannelSpecVo" type="com.manji.backstage.vo.content.ChannelSpecVo"/>
		<typeAlias alias="ChannelSiteVo" type="com.manji.backstage.vo.content.ChannelSiteVo"/>
		<typeAlias alias="ArticleCategoryVo" type="com.manji.backstage.vo.content.ArticleCategoryVo"/>
		<typeAlias alias="ArticleCategoryCountVo" type="com.manji.backstage.vo.content.ArticleCategoryCountVo"/>
		<typeAlias alias="ArticleCategoryUserVo" type="com.manji.backstage.vo.content.ArticleCategoryUserVo"/>
		<typeAlias alias="ArticleCategoryFieldVo" type="com.manji.backstage.vo.content.ArticleCategoryFieldVo"/>
		<typeAlias alias="ArticleCategorySpecVo" type="com.manji.backstage.vo.content.ArticleCategorySpecVo"/>
		
		<!-- 管理 -->
		<typeAlias alias="Manager" type="com.manji.backstage.model.monitor.Manager"/>
		<typeAlias alias="ManagerLog" type="com.manji.backstage.model.monitor.ManagerLog"/>
		<typeAlias alias="ManagerRecharge" type="com.manji.backstage.model.monitor.ManagerRecharge"/>
		<typeAlias alias="ManagerRole" type="com.manji.backstage.model.monitor.ManagerRole"/>
		<typeAlias alias="ManagerRoleValue" type="com.manji.backstage.model.monitor.ManagerRoleValue"/>
		<typeAlias alias="InfoCorrecting" type="com.manji.backstage.model.monitor.InfoCorrecting"/>
		
		<typeAlias alias="ManagerVo" type="com.manji.backstage.vo.monitor.ManagerVo"/>
		<typeAlias alias="ManagerLogVo" type="com.manji.backstage.vo.monitor.ManagerLogVo"/>
		<typeAlias alias="ManagerRechargeVo" type="com.manji.backstage.vo.monitor.ManagerRechargeVo"/>
		<typeAlias alias="ManagerRoleVo" type="com.manji.backstage.vo.monitor.ManagerRoleVo"/>
		<typeAlias alias="ManagerRoleValueVo" type="com.manji.backstage.vo.monitor.ManagerRoleValueVo"/>
		<typeAlias alias="InfoCorrectingVo" type="com.manji.backstage.vo.monitor.InfoCorrectingVo"/>
		
		
		
		<!-- 登陆 -->
		<typeAlias alias="LocalUser" type="com.manji.backstage.model.login.User"/> 
		<typeAlias alias="LocalRole" type="com.manji.backstage.model.login.Role"/> 
		<typeAlias alias="LocalPermission" type="com.manji.backstage.model.login.Permission"/> 
		<typeAlias alias="Loggers" type="com.manji.backstage.model.login.Loggers"/> 
		<typeAlias alias="RoleToUser" type="com.manji.backstage.model.login.RoleToUser"/> 
		<typeAlias alias="PerToRole" type="com.manji.backstage.model.login.PerToRole"/>
		<typeAlias alias="UserRoleDto" type="com.manji.backstage.dto.login.UserRoleDto"/>
		<typeAlias alias="LoggersVo" type="com.manji.backstage.vo.login.LoggersVo"/>
		<typeAlias alias="Data" type="com.manji.backstage.model.login.Data"/> 
		
		<typeAlias alias="PermissionVo" type="com.manji.backstage.vo.login.PermissionVo"/>
		
	</typeAliases>

	
	<!-- 实体接口映射资源 -->
	<mappers>
	
<!-- 		<mapper resource="com/manji/backstage/mapper/login/DataMapper.xml"/>
		用户
		
		店铺
		<mapper resource="com/manji/backstage/mapper/shop/ShopMapper.xml"/>
		代理商
		<mapper resource="com/manji/backstage/mapper/agent/AgentMapper.xml"/>
		账户
		 -->
		 <!-- 用户 -->
		<mapper resource="com/manji/backstage/mapper/user/UserMapper.xml"/>
		<mapper resource="com/manji/backstage/mapper/user/UserGroupMapper.xml"/>
		<mapper resource="com/manji/backstage/mapper/user/SafeMapper.xml"/>
		<!-- 账户 -->
		<mapper resource="com/manji/backstage/mapper/account/AccountMapper.xml"/>
		 
		<!-- 运维 -->
		<mapper resource="com/manji/backstage/mapper/operation/OperationMapper.xml"/>
		<mapper resource="com/manji/backstage/mapper/operation/BrandMapper.xml"/>
		<mapper resource="com/manji/backstage/mapper/operation/SpecMapper.xml"/>
		<mapper resource="com/manji/backstage/mapper/operation/AttriMapper.xml"/>
		
		
		<!-- 登陆 -->
		<mapper resource="com/manji/backstage/mapper/login/LoginMapper.xml"/>
		<mapper resource="com/manji/backstage/mapper/login/AuthMapper.xml"/>
		
		
		
		<!-- 订单 -->
		<mapper resource="com/manji/backstage/mapper/order/OrderMapper.xml"/>
		
		<!-- 日志 -->
		<mapper resource="com/manji/backstage/mapper/logger/LoggerMapper.xml"/>
		
		
		<!-- 配置 -->
		<mapper resource="com/manji/backstage/mapper/property/PropertyMapper.xml"/>
		
		<!-- 消息 -->
		<mapper resource="com/manji/backstage/mapper/message/MessageMapper.xml"/>
		
		<!-- 内容 -->
		<mapper resource="com/manji/backstage/mapper/content/ContentMapper.xml"/>
	</mappers>



</configuration>  