<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>发货记录查询</title>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <link href="../../static/css/newSelect.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../static/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="../../static/js/select-ui.min.js"></script>
    <script type="text/javascript" src="../../static/js/kindeditor.js"></script>
    <script type="text/javascript" src="../../static/js/fy.js"></script>
    <!--时间控件-->
    <script src="http://www.my97.net/dp/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">提现管理</a></li>
        <li><a href="#">发货记录</a></li>
    </ul>
</div>
<input type="hidden" id="myCount"/>
<!-- 弹出层 -->
<div class="box"></div>
<div class="hint">
    <div class="hint-in1">
        <div style="line-height:70px;color:#f4e8df;font-size:26px;padding-left:80px;">温馨提醒</div>
    </div>
    <div class="hint-in2"><p id="hint-in2" class="tishi"></p></div>
    <div class="hint-in3" onclick="closeMessage()">确定</div>
</div>
<div id="tab2" >
    <ul class="seachform" style="margin-left:0.5%;margin-top: 0.5%;">



    </ul>

    <table class="tablelist myTd">
        <thead>
        <tr>
            <th>编号<i class="sort"><img src="../../static/images/px.gif"/></i></th>
            <th>对应订单ID</th>
            <th>快递ID</th>
            <th>快递单号</th>
            <th>发货状态</th>
            <th>发货时间</th>
            <th>收货人姓名</th>
            <th>邮政编码</th>
            <th>联系电话</th>
            <th>手机号码</th>
            <th>电子邮箱</th>
            <th>所属省市区</th>
            <th>收货地址</th>
            <th>买家是否延迟收货</th>
            <th>卖家是否延迟发货</th>
        </tr>
        </thead>
        <tbody >
            <!--/*@thymesVar id="OrdergoodInfolist" type="java"*/-->
            <tr th:each="li,OrdergoodInfolistStat:${OrdergoodInfolist}">
                <td th:text="${OrdergoodInfolistStat.count}"></td>
                <td th:text="${li.order_id}"></td>
                <td th:text="${li.express_id}"></td>
                <td th:text="${li.express_no}"></td>
                <td th:if="${li.express_status=='1'}">未发货</td>
                <td th:if="${li.express_status=='2'}">已发货</td>
                <td th:if="${li.express_status=='3'}">自提</td>
                <td th:if="${li.express_status=='4'}">待设置运费</td>
                <td th:text="${li.express_time}"></td>
                <td th:text="${li.accept_name}"></td>
                <td th:text="${li.post_code}"></td>
                <td th:text="${li.telephone}"></td>
                <td th:text="${li.mobile}"></td>
                <td th:text="${li.email}"></td>
                <td th:text="${li.area}"></td>
                <td th:text="${li.address}"></td>
                <td th:if="${li.is_receipt=='0'}">未延迟</td>
                <td th:if="${li.is_receipt=='1'}">已延迟</td>
                <td th:if="${li.is_deliver=='0'}">未延迟</td>
                <td th:if="${li.is_deliver=='1'}">已延迟</td>
            </tr>
        </tbody>
    </table>
    <!--分页 -->
    <div id="fy">
    </div>
</div>
<!-- 订单详细信息显示框 -->
<div class="tip" style="width: 85%;height: 700px;position:absolute;top:10%; left:7%;">
    <div class="tiptop" style="width: 100%"><span>订单详情</span><a onclick="closeWindow()"></a></div>
    <ul class="seachform" style="margin-left:0.5%;margin-top: 0.5%;float: right;">
        <li >
            <label></label><input onclick="exportTable()" style="background:#acd31c"
                                  type="button" class="scbtn"
                                  value="导出Excel"/>
        </li>
    </ul>
    <div style="width: 100%;height: 600px;overflow: auto">
        <div id="fy1"></div>
    </div>
</div>
</body>
</html>