<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>待提现信息查询</title>



    <!--layer-->
    <script type="text/javascript" src="../../static/lib/layui/lay/dest/layui.all.js"></script>
    <link href="../../static/lib/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/communal.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/communal.js"></script>
    <!--layer-->
    <script type="text/javascript" src="../../static/lib/layui/lay/dest/layui.all.js"></script>
    <link href="../../static/lib/layui/css/layui.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../static/js/withdrawals/withdrawalsQuery.js"></script>

</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">提现管理</a></li>
        <li><a href="#">待提现信息</a></li>
    </ul>
</div>
<input type="hidden" id="myCount"/>
<!-- 弹出层 -->
<div class="box"></div>
<div class="hint">
    <div class="hint-in1">
        <div style="line-height:70px;color:#f4e8df;font-size:26px;padding-left:80px;">温馨提醒</div>
    </div>


    <div class="hint-in2"><p id="hint-in2" class="tishi"></p></div>
    <div class="hint-in3" onclick="closeMessage()">确定</div>
</div>
<div id="tab2" >
    <ul class="seachform" style="margin-left:0.5%;margin-top: 0.5%;">

        <li><label>提现订单号</label><input name="" type="text" class="scinput" id="withdrawalsNo" style="background: transparent"/></li>
        <li><label>账户类型</label>
            <div class="styled-select" style="width: 80px;">
                <select id="userRoleType" class="mySelect" style="width: 100px;">
                    <option value=""></option>
                    <option value="buyer">用户</option>
                    <option value="shop">商家</option>
                </select>
            </div>
        </li>
        <li><label>提现状态</label>
            <div class="styled-select">
                <select id="withdrawalsStatus" class="mySelect">
                    <option value=""></option>
                    <option value="0">待审核</option>
                    <option value="1">用户撤销提现</option>
                    <option value="2">管理退回提现</option>
                    <option value="3">管理冻结提现</option>
                    <option value="4">审核通过（处理中）</option>
                    <option value="5">提现成功</option>
                </select>
            </div>
        </li>

        <li>
            <label>生成时间</label><input style="width: 90px"  class="scinput"
                                      readonly="readonly"
                                      type="text" id="startTime"
                                      onclick="WdatePicker()" onchange="checkDate()"/>&nbsp;-
            <input style="width: 90px"  class="scinput"
                   readonly="readonly"
                   type="text" id="endTime"
                   onclick="WdatePicker()" onchange="checkDate()"/>
        </li>


        <li><label>&nbsp;</label><input onclick="searchInfo()" name="" type="button" class="scbtn" value="查询"/>&nbsp;&nbsp;
            &nbsp;<label>&nbsp;</label><input style="background:lightgray" onclick="reset()" name="" type="button" class="scbtn"
                                              value="重置"/></li>

        <li>
            &nbsp;&nbsp;
           <!--<input type="button" value="退回" class="scbtn" onclick="updatestatus(this)"/>
            <input type="button" value="冻结" class="scbtn" onclick="updatestatus(this)"/>-->
            <input type="button"  value="通过" class="scbtn" onclick="updatestatus(this)"/>
        </li>
    </ul>

    <table class="tablelist myTd" id="userAccount">
        <thead>
        <tr>
            <th><input type="checkbox"  id="checkAll"/></th>
            <th>编号<i class="sort"><img src="../../static/images/px.gif"/></i></th>
            <th>用户ID</th>
            <th>用户类型</th>
            <th>提现账户ID</th>
            <th>提现订单号</th>
            <th>银行卡账号</th>
            <th>银行卡名称</th>
            <th>提现金额</th>
            <th>提现满意券</th>
            <th>提现手续费</th>
            <th>提现总金额</th>
            <th>创建时间</th>
            <th>完成时间</th>
            <th>提现说明</th>
            <th>提现状态</th>
            <th>订单详情</th>
        </tr>
        </thead>
        <tbody  id="userAccountData">

        </tbody>
    </table>
    <!--分页 -->
    <div id="fy">
    </div>
</div>
<!--信息详细信息显示框-->
<div class="tip" id="tipinfo" style="width: 65%;height: 300px;position:absolute;top:10%; left:10%;">
    <div class="tiptop" style="width: 100%"><span>提现说明</span><a onclick="closeWindow()"></a></div>
    <span id="tipinfotext" style="font-size: 20px"></span>
</div>

<!-- 订单详细信息显示框 -->
<div class="tip" style="width: 85%;height: 700px;position:absolute;top:10%; left:7%;">
    <div class="tiptop" style="width: 100%"><span>订单详情</span><a onclick="closeWindow()"></a></div>
    <ul class="seachform" style="margin-left:0.5%;margin-top: 0.5%;float: right;">
        <li >
            <label></label><input onclick="exportTable()" style="background:#acd31c"
                                  type="button" class="scbtn"
                                  value="导出Excel"/>
        </li>
    </ul>
    <div style="width: 100%;height: 600px;overflow: auto">
        <table  class="tablelist myTd">
            <thead>
            <tr>
                <th>编号<i class="sort"><img src="../../static/images/px.gif"/></i></th>
                <th>订单号</th>
                <th>订单类型</th>
                <th>订单标题</th>
                <th>用户ID</th>
                <th>用户类型</th>
                <th>买家ID</th>
                <th>买家类型</th>
                <th>物流方式</th>
                <th>物流费用</th>
                <th>订单留言</th>
                <th>订单备注</th>
                <th>是否需要发票</th>
                <th>发票抬头</th>
                <th>订单金额</th>
                <th>订单代金券</th>
                <th>应付总金额</th>
                <th>实付总金额</th>
                <th>订单状态</th>
                <th>下单时间</th>
                <th>提交时间</th>
                <th>失效时间</th>
                <th>完成时间</th>
                <th>支付方式</th>
                <th>支付手续费</th>
                <th>支付状态</th>
                <th>支付时间</th>
                <th>结算状态</th>
                <th>结算时间</th>
                <th>是否删除</th>
                <th>拒单原因</th>
            </tr>
            </thead>
            <tbody id="accountDetail">

            </tbody>
        </table>
        <div id="fy1"></div>
    </div>
</div>
</body>
</html>