<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.backstage.mapper.login.LoggersMapper" >




<insert id="addLoggers" parameterType="Loggers">

insert into bac_loggers(user_id,username,module,type,data,time,remark)
values(#{user_id},#{username},#{module},#{type},#{data},#{time},#{remark})

</insert>
 
<select id="getLoggers" parameterType="int" resultType="Loggers">
select * from bac_loggers where id=#{0}
</select>
 
 <select id="countLoggers" parameterType="LoggersVo" resultType="int">
select count(*)  from bac_loggers  where 1=1

		<if test="user_id != null and user_id != ''">
      		and user_id=#{user_id}
    	</if>
    	<if test="username != null and username != ''">
     		 and username=#{username}
    	</if>
    	<if test="module != null and module != ''">
     		 and user_id=#{user_id}
   		 </if>
   		 <if test="type != null and type != ''">
     		 and type=#{type}
   		 </if>

		
</select>

<select id="queryLoggers" parameterType="LoggersVo" resultType="Loggers">
select * from bac_loggers dt1,
(
	select top 20 id from 
	(
		select top(#{index}*20) id from bac_loggers  where 1=1
		
		<if test="user_id != null and user_id != ''">
      		and user_id=#{user_id}
    	</if>
    	<if test="username != null and username != ''">
     		 and username=#{username}
    	</if>
    	<if test="module != null and module != ''">
     		 and user_id=#{user_id}
   		 </if>
   		 <if test="type != null and type != ''">
     		 and type=#{type}
   		 </if>
   		 
		order by id desc
	)dt order by dt.id asc
)dt2 where dt1.id=dt2.id order by dt1.id
</select>
 
 
<insert id="addData" parameterType="Data" useGeneratedKeys="true" keyProperty="id">

insert into bac_data(json)values (#{json})

</insert>

<select id="getData" parameterType="int" resultType="Data">
select * from bac_data where id=#{0}
</select>
 
 



</mapper>