<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
    <link href="../../static/css/communal.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/communal.js"></script>
    <script type="text/javascript" src="../../static/js/normalRecharge/normalRechargeRecord.js"></script>
    <style type="text/css">
        .mySelect{background: transparent;  width: 200px;  padding: 5px;  font-size: 16px;  border: 1px solid #a7b5bc;  height: 34px;  -webkit-appearance: none; /*for chrome*/  }
        .styled-select { float: left;  width: 180px;  height: 34px;  overflow: hidden;  background: url(../../static/images/new_arrow.jpg) no-repeat right;  }
    </style>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">充值管理</a></li>
        <li><a href="#">充值记录(正常)</a></li>
    </ul>
</div>
<!-- 弹出层 -->
<div class="box"></div>
<div class="hint">
    <div class="hint-in1">
        <div style="line-height:70px;color:#f4e8df;font-size:26px;padding-left:80px;">温馨提醒</div>
    </div>
    <div class="hint-in2"><p id="hint-in2" class="tishi"></p></div>
    <div class="hint-in3" onclick="closeMessage()">确定</div>
</div>
<div id="tab2" class="tabson">
    <ul class="seachform" style="margin-left:0.5%">

        <li><label>用户名</label><input name="" type="text" class="scinput" id="username"/></li>
        <li><label>支付状态</label>
            <div class="styled-select">
                <select id="payType" class="mySelect">
                    <option value=""></option>
                    <option value="已支付">已支付</option>
                    <option value="未支付">未支付</option>
                    <option value="申请退款中">申请退款中</option>
                    <option value="退款成功">退款成功</option>
                    <option value="退款失败">退款失败</option>
                </select>
            </div>
        </li>

        <li>
            <label>充值时间</label><input style="width: 90px" class="scinput"
                                      readonly="readonly"
                                      type="text" id="startTime"
                                      onclick="WdatePicker()"/>&nbsp;-
            <input id="endTime" style="width: 90px" class="scinput"
                   readonly="readonly"
                   type="text"
                   onclick="WdatePicker()"/>
        </li>


        <li><label>&nbsp;</label><input type="button" class="scbtn" onclick="queryUserNormalRechargeRecordList(1)"
                                        value="查询"/>

            <label></label><input onclick="exportTable()" style="background:#acd31c"
                                  type="button" class="scbtn"
                                  value="导出Excel"/>
            <label></label><input onclick="reset()"
                                  style="background:lightgray" name=""
                                  type="button" class="scbtn"
                                  value="重置"/></li>
    </ul>

    <table class="tablelist" id="userAccount">
        <thead>
        <tr>
            <th>编号<i class="sort"><img src="../../static/images/px.gif"/></i></th>
            <th>用户ID</th>
            <th>第三方单号</th>
            <th>支付方式</th>
            <th>付款金额</th>
            <th>付款用户</th>
            <th>状态</th>
            <th>付款时间</th>
            <th>通知到账时间</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody id="userRechargeData">
        </tbody>
    </table>
    <!--分页 -->
    <div id="fy">

    </div>

</div>

</body>
</html>