*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.kf_container{
	height: 970px;
	background-color: #edeeed;
	position: relative;
}
.kf_title{
	height: 38px;
	background-color: #FFFFFF;
	
}
.kf_title .span1{
	background: url(../images/home_logo.png) no-repeat 100% 100%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin: 15px 5px 15px 20px;
}
.kf_title .span2{
	display: inline-block;
	font-weight: normal;
	font-size: 12px;
	position: relative;
	top: -16px;
	
}
.kf_content{
	width: 1410px;
	margin: 60px auto;
}
.kf_content:after{
	display: block;
	content: "";
	clear: both;
	visibility: hidden;
	text-align: center;
}
.kf_content li{
	width: 310px;
	height: 180px;
	float: left;
	margin: 0 80px;
	
}
.kf_content li .kf_item_title{
    font-size: 16px;
    padding: 25px 20px;
    /*border-bottom: 1px solid #e5e5e5;*/
}
.kf_content li .kf_item_txt1{
	padding: 20px;
	font-size: 14px;
}
.kf_content li .kf_item_total{
    float: right;
    color: #087dd1;
    font-size: 16px;
}
.kf_content li .kf_item_txt2{
	padding: 0 20px;
	font-size: 14px;
}
.kf_content .li1{
	background: url(../images/home_bac1.png) no-repeat 100% 100%;
}
.kf_content .li2{
	background: url(../images/home_bac2.png) no-repeat 100% 100%;
}
.kf_content .li3{
	background: url(../images/home_bac3.png) no-repeat 100% 100%;
}

/*查看消息*/
.kf_footer{
	width: 365px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 0 10px;
}
.kf_footer_news{
	width: 345px;
	height: 40px;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 40px;
	float: right;
	font-size: 12px;
	padding: 0 10px;
	border-bottom: 1px solid #e5e5e5;
	
}
.kf_footer_news:after{
	display: block;
	content: "";
	clear: both;
	visibility: hidden;
}
.kf_footer_news span{
	background: url(../images/home_email.png) no-repeat 100% 100%;
	width: 18px;
	height: 14px;
	display: inline-block;
	margin: 0 10px 0 0;
	
}
.kf_footer_news p{
	display: inline-block;
	/*position: relative;
	top: -4px;*/
}
.kf_footer_news p i{
	font-style: normal;
	color: #cd2520;
}
.kf_footer_news img{
	width: 30px;
	height: 30px;
	text-align: right;
	position: relative;
	top: 5px;
	float: right;
	cursor: pointer;
}
.kf_footer .kf_footer_ul{
	display: none;
	background-color: #FFFFFF;
	padding: 0 10px 0 10px;
}
.kf_footer .kf_footer_ul .kf_footer_li{
	padding: 5px 0;
	
}
.kf_footer .kf_footer_ul .kf_footer_li i{
	background: url(../images/home_alwaysemail.png) no-repeat 100% 100%;
	width: 14px;
	height: 10px;
	display: inline-block;
}
.kf_footer_li_active{
	background: url(../images/home_notemail.png) !important;
	height: 14px !important;
}
.kf_footer .kf_footer_ul .kf_footer_li p{
	display: inline-block;
	font-size: 12px;
	width: 310px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: -3px 0;
	
}
.kf_footer .kf_footer_ul .kf_footer_li2{
	font-size: 12px;
	text-align: center;
	padding: 10px 0;
	
}
.kf_footer .kf_footer_ul .kf_footer_li2 i{
	background: url(../images/home_loadmore.png) no-repeat 100% 100%;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 5px;
	
}
.kf_footer .kf_footer_ul .kf_footer_li2 span{
	color: #087DD1;
	cursor: pointer;
}
