<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.backstage.mapper.AgenMapper" >

<!-- dt_user_role_agentinfo	用户代理商信息表 -->

<select id="countAgentInfo" parameterType="AgentInfoVo" resultType="int">
select count(*)  from dt_user_role_agentinfo  where 1=1	
	<if test="user_id != null and user_id != ''">
		and user_id=#{user_id}
	</if>
	<if test="state != '-1'">
		and state=#{state}
	</if>
	<if test="name != null and name != ''">
		and name like '%${name}%'	
	</if>
</select>

<select id="queryAgentInfo" parameterType="AgentInfoVo" resultType="AgentInfo">
	SELECT * FROM 

	( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

	( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_user_role_agentinfo   where  1=1 
		<if test="user_id != null and user_id != ''">
			and user_id=#{user_id}
		</if>
		<if test="state != '-1'">
			and state=#{state}
		</if>
		<if test="name != null and name != ''">
			and name like '%${name}%'	
		</if>
	order by id desc
	 )vip)mvp where temprownumber>((#{index}-1)*20)


</select>

<select id="getAgentInfo" parameterType="int" resultType="AgentInfo">
	select * from dt_user_role_agentinfo where id=#{0}
</select>

<update id="updAgentInfo" parameterType="AgentInfo" >
update dt_user_role_agentinfo 
set group_id=#{group_id},
user_id=#{user_id},
agent_area=#{agent_area},
address=#{address},
telephone=#{telephone},
qq=#{qq},
name=#{name},
mobile=#{mobile},
email=#{email},
begin_time=#{begin_time},
end_time=#{end_time},
state=#{state},
remark=#{remark},
update_time=#{update_time},
add_time=#{add_time},
is_del=#{is_del}
where id=#{id}

</update>

<insert id="addAgentInfo" parameterType="AgentInfo">
insert into dt_user_role_agentinfo
(group_id,user_id,agent_area,address,telephone,qq,name,mobile,email,begin_time,end_time,state,remark,update_time,add_time,is_del)
values(#{group_id},#{user_id},#{agent_area},#{address},#{telephone},#{qq},#{name},#{mobile},#{email},#{begin_time},#{end_time},#{state},#{remark},#{update_time},#{add_time},#{is_del})
</insert>

<delete id="delAgentInfo" parameterType="int">

delete from dt_user_role_agentinfo where id = #{0}

</delete>

<!-- //	dt_user_role_agentinfo_temp	用户代理商信息修改临存表 -->

<select id="countAgentInfoTemp" parameterType="AgentInfoTempVo" resultType="int">
	select count(*) id from dt_user_role_agentinfo_temp  where 1=1
		<if test="user_id != null and user_id != ''">
			and user_id=#{user_id}
		</if>
		<if test="state != '-1'">
			and state=#{state}
		</if>
		<if test="name != null and name != ''">
			and name like '%${name}%'	
		</if>

</select>


<select id="queryAgentInfoTemp" parameterType="AgentInfoTempVo" resultType="AgentInfoTemp">
SELECT * FROM 

( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_user_role_agentinfo_temp   where  1=1 
		<if test="user_id != null and user_id != ''">
			and user_id=#{user_id}
		</if>
		<if test="state != '-1'">
			and state=#{state}
		</if>
		<if test="name != null and name != ''">
			and name like '%${name}%'	
		</if>	
order by id desc
 )vip)mvp where temprownumber>((#{index}-1)*20)

</select>

<select id="getAgentInfoTemp" parameterType="int" resultType="AgentInfoTemp">
	select * from dt_user_role_agentinfo_temp where id=#{id}
</select>

<update id="updAgentInfoTemp" parameterType="AgentInfoTemp" >
update dt_user_role_agentinfo_temp 
set 
record_id=#{record_id},
group_id=#{group_id},
user_id=#{user_id},
agent_area=#{agent_area},
address=#{address},
telephone=#{telephone},
qq=#{qq},
name=#{name},
mobile=#{mobile},
email=#{email},
begin_time=#{begin_time},
end_time=#{end_time},
state=#{state},
remark=#{remark},
update_time=#{update_time}
where id=#{id}

</update>

<insert id="addAgentInfoTemp" parameterType="AgentInfoTemp">
insert into dt_user_role_agentinfo_temp
(record_id,group_id,user_id,agent_area,address,telephone,qq,name,mobile,email,begin_time,end_time,state,remark,update_time)
values(#{record_id},#{group_id},#{user_id},#{agent_area},#{address},#{telephone},#{qq},#{name},#{mobile},#{email},#{begin_time},#{end_time},#{state},#{remark},#{update_time})
</insert>

<delete id="delAgentInfoTemp" parameterType="int">

delete from dt_user_role_agentinfo_temp where id = #{0}

</delete>

</mapper>
