<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.backstage.mapper.operation.BrandMapper" >

<select id="getBrandList" resultType="Brand">

	select * from dt_brand

</select>

<select id="getBrandById" resultType="Brand" parameterType="int">

	select * from dt_brand where id=#{id}

</select>

<select id="queryBrandList" resultType="Brand" parameterType="Brand">

	select * from dt_brand where 1=1
	
	<if test="brand_type != null and brand_type != ''">
		and brand_type=#{brand_type}
	</if>
	<if test="name != null and name != ''">
		and name like '%'+#{name}+'%'
	</if>
	
</select>

<insert id="addBrand" parameterType="Brand" >

	insert into 
	dt_brand(name,logo,brand_type,introduction,add_time,update_time)
	values (#{name},#{logo},#{brand_type},#{introduction},#{add_time},#{update_time})

</insert>

<update id="updBrand" parameterType="Brand">

	update dt_brand
	set
	
	name=#{name},
	logo=#{logo},
	brand_type=#{brand_type},
	introduction=#{introduction}
	
	where id=#{id}
</update>

<delete id="delBrand" parameterType="int">

	delete from dt_brand where id=#{id}

</delete>


<select id="checkBrandName" parameterType="java.lang.String" resultType="int">
	select count(*) from dt_brand where name=#{0}
</select>


<select id="countBrand" parameterType="BrandVo" resultType="int">

select count(*) from dt_brand where 1=1

	
	<if test="brand_type != null and brand_type !='-1'">
		and brand_type=#{brand_type}
	</if>
	<if test="name != null and name != ''">
		and name like '%'+#{name}+'%'
	</if>
		
</select>

<select id="queryBrand" parameterType="BrandVo" resultType="Brand">

select * from dt_brand dt1,
(
	select top 20 id from
	(
		select top ((#{index})*20) id from dt_brand 
		
		where 1=1
	
	<if test="brand_type != null and brand_type !='-1'">
		and brand_type=#{brand_type}
	</if>
	<if test="name != null and name != ''">
		and name like '%'+#{name}+'%'
	</if>
		
		order by id desc
	) dt order by dt.id asc
) dt2 where dt1.id=dt2.id order by dt1.id desc


</select>

</mapper>