<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户账户</title>
    <link href="../../static/css/communal.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/communal.js"></script>

    <script type="text/javascript" src="../../static/js/info/shopsAccountInfo.js"></script>
    <script type="text/javascript" src="../../static/js/info/shopsAccountInfoDetail.js"></script>


</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">信息管理</a></li>
        <li><a href="#">商家账户</a></li>
    </ul>
</div>
<!-- 弹出层 -->
<div class="box"></div>
<div class="hint">
    <div class="hint-in1">
        <div style="line-height:70px;color:#f4e8df;font-size:26px;padding-left:80px;">温馨提醒</div>
    </div>
    <div class="hint-in2"><p id="hint-in2" class="tishi"></p></div>
    <div class="hint-in3" onclick="closeMessage()">确定</div>
</div>
<div id="tab2" class="tabson">
    <ul class="seachform" style="margin-left:0.5%">

        <li><label>用户名</label><input name="" type="text" class="scinput" id="username"/></li>
        <li><label>角色类型</label>
            <div class="styled-select" style="width: 80px;">
                <select class="mySelect" id="userRole" style="width: 100px;">
                    <option value=""></option>
                    <option value="用户">用户</option>
                    <option value="商家">商家</option>
                </select>
            </div>
        </li>

        <li><label>账号类型</label>
            <div class="styled-select" style="width: 80px;">
                <select class="mySelect" id="accountType" style="width: 100px;">
                    <option value=""></option>
                    <option value="正常">正常</option>
                    <option value="冻结">冻结</option>
                    <option value="异常">异常</option>
                </select>
            </div>
        </li>
        <li><label>&nbsp;</label><input onclick="searchInfo(1)" name="" type="button" class="scbtn" value="查询"/>&nbsp;&nbsp;<label>
            &nbsp;</label><input style="background:lightgray" onclick="reset()" name="" type="button" class="scbtn"
                                 value="重置"/></li>
    </ul>


    <table class="tablelist" id="userAccount">
        <thead>
        <tr>
            <th>编号<i class="sort"><img src="../../static/images/px.gif"/></i></th>
            <th style="display: none">用户ID</th>
            <th>用户名</th>
            <th>角色类型</th>
            <th>账户状态</th>
            <th>余额</th>
            <th>可提现余额</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="userAccountData">
        </tbody>
    </table>
    <div id="fy"></div>
</div>
<div class="tip" style="width: 85%;height: 703px;position:absolute;top:10%; left:7%;">
    <div class="tiptop" style="width: 100%"><span>交易明细</span><a></a></div>
    <ul class="seachform" style="margin-left:0.5%;margin-top: 10px">

        <li><label>订单号</label><input id="orderNo" name="" type="text" class="scinput" style="width: 180px"/></li>
        <li><label>角色类型</label>
            <div class="styled-select" style="width: 80px;">
                <select class="mySelect" id="userRoleType" style="width: 100px;">
                    <option value=""></option>
                    <option value="用户">用户</option>
                    <option value="商家">商家</option>
                </select>
            </div>
        </li>
        <li><label>&nbsp;</label><input id="detailQuery" name="" type="button" class="scbtn" value="查询"/>&nbsp;&nbsp;<label>
            &nbsp;</label><input style="background:#b6d310" onclick="reset()" name="" type="button" class="scbtn"
                                 value="清空"/></li>
    </ul>

    <div style="width: 100%; height:750px;overflow: auto">
        <table id="accountDetail" class="tablelist" style="width: 100%;">
            <thead>
            <tr>
                <th>编号<i class="sort"><img src="../../static/images/px.gif"/></i></th>
                <th style="display: none">用户ID</th>
                <th>用户名</th>
                <th>角色类型</th>
                <th>账号ID</th>
                <th>增减值</th>
                <th>操作类型</th>
                <th>所属订单号</th>
                <th>变动前金额</th>
                <th>变动后金额</th>
                <th>支付订单号</th>
                <th>增加时间</th>

            </tr>
            </thead>
            <tbody id="userAccountDataDetail">
            </tbody>
        </table>
        <div id="fy1" style="margin-top: -10px;">
        </div>

    </div>

</div>


</body>
</html>