html,
body {
	font-family: "微软雅黑";
}


/*去浮动*/

.finance_time:after,
.money_change_list:after,
.group_box:after,
.form-horizontal:after,
.form-group:after,
.page_box:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}

.box-title {
	color:#333;
	font-weight: bold;
}

.lable_title {
	display: block;
	margin: 0;
}

.lable_title.lable_weight {
	font-weight: bold;
}

.color_red {
	color: #FF3300;
	font-style: normal;
}

.color_success {
	color: #00a65a;
	font-style: normal;
}

.color_default {
	color: #333;
	font-style: normal;
}


/*修改原css*/

.navbar-nav>.user-menu>.dropdown-menu {
	width: 150px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
	padding: 0;
	border-top: 1px solid #dbdbdb;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:first-child {
	border-top: 0;
}

.content-header {
	height: 45px;
}

.content-header>.breadcrumb {
	left: 15px;
}

.btn.btn-flat {
	border: 0;
}

.form-control {
	padding: 3px;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border-color: #dbdbdb;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
	border-bottom: 0;
}

.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
	border-top: 1px solid #dbdbdb;
}

.finance_time {
	padding-left: 30px;
	padding-right: 30px;
}

.finance_time_padding_left0 {
	padding-left: 0;
}

.finance_time_padding_left {
	padding-left: 15px;
	margin-bottom: 10px;
}

.finance_time .form-group,
.finance_time .date_striping,
.finance_time .btn {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.finance_time .date_striping {
	line-height: 34px;
}

.finance_time .input-group {
	max-width: 150px;
}

.finance_time .btn {
	margin-left: 5px;
	margin-right: 0;
}


/*
 * 账户信息汇总
 */

.money_change_1 {
	width: 720px;
}

.money_change_2 {
	width: 360px;
}

.money_change_1, .money_change_2 {
	margin-right: 20px;
	float: left;
}

.money_change_itme {
	width: 170px;
	border: 1px solid #dbdbdb;
	font-size: 14px;
	margin: 10px 10px 10px 0;
	float: left;
}

.money_change_itme label,
.money_change_itme span,
.money_change_itme a {
	display: block;
	text-align: center;
}

.money_change>label {
	display: block;
	margin: 0;
	height: 20px;
	line-height: 20px;
}

.money_change_itme label {
	line-height: 35px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #dbdbdb;
	color: #333;
	margin: 0;
	font-weight: 100;
}

.money_change_itme span {
	line-height: 60px;
	font-weight: bold;
	font-size: 16px;
}

.money_change_itme a {
	line-height: 20px;
	color: #169bd5;
	margin-top: -5px;
	padding-bottom: 5px;
	text-decoration: underline;
}


/**/

.finance_time .btn-group {
	margin-right: 30px;
	float: left;
}

.btn_box {
	text-align: right;
}

.transmit_content {
	font-size: 13px;
	padding: 10px 30px;
}

.transmit_content .lable_title {
	margin-bottom: 10px;
}

.transmit_content p {
	color: #666;
}

.href_a,
.href_a:hover {
	color: #169bd5;
	text-decoration: underline;
	cursor: pointer;
}

.tab_btn_content .table {
	display: none;
}

.tab_btn_content .table.active {
	display: inline-table;
}


/**/

.chart_title {
	display: block;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.pie_chart {
	height: 400px;
	width: 600px;
	margin: 0 auto;
}


/*日期*/

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	color: #ccc;
}

.input-group .form-control.dayStatement,
.input-group .form-control.monthStatement {
	display: none;
}

.input-group .form-control.dayStatement.active,
.input-group .form-control.monthStatement.active {
	display: inherit;
}


/*摸态框居中*/

.modal_fixed_center {
	position: fixed;
	top: 50%;
	left: 50%;
}


/*弹出层*/

.group_box {
	padding: 10px 30px;
}

.group_box {
	line-height: 30px;
}

.group_label {
	margin: 0;
	float: left;
}

.group_label {
	display: block;
}

.group_content {
	margin-left: 80px;
}

.receiver_box {
	height: 30px;
}

.receiver_phone i {
	font-style: normal;
}

.receiver_box input {
	line-height: 20px;
}

.receiver_name_input {
	width: 80px;
}

.receiver_phone_input {
	width: 120px;
}

.receiver_content {
	height: 135px;
	overflow-y: auto;
}

.receiver_box a {
	margin-left: 10px;
}

.receiver_box input,
.receiver_save,
.receiver_close {
	display: none;
}

.layer_box {
	display: none;
}


/*首页订单页面*/

.finance_time .control-label {
	line-height: 34px;
	margin: 0;
	float: left;
}

.paymentOrderDate_tab_list .tab-pane>.col-md-12 {
	padding: 10px 0 0;
}

.finance_time {
	margin-top: 10px;
}

.table_no_data {
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #dbdbdb;
	margin-top: 20px;
}

td.table_no_data,
th.table_no_data {
	height: auto;
	margin: 0;
}


/*分页*/

.page_box {
	height: 28px;
	line-height: 28px;
}

.page_box .page_btn {
	display: inline-block;
	border: 1px solid #dbdbdb;
	line-height: 26px;
	padding: 0 10px;
	background: #fafafa;
	color: #666;
	cursor: pointer;
}

.page_box .page_btn:hover {
	background: #eee;
}

.page_number {
	width: 30px;
	line-height: 20px;
	padding: 3px;
	text-align: center;
	border: 1px solid #dbdbdb;
}

.page_box .btn {
	line-height: 20px;
	padding: 3px 6px;
}


/*提现审核*/

.withdrawalAudit_tab {
	border: 1px solid #dbdbdb;
	margin-bottom: 20px;
	cursor: pointer;
}

.withdrawalAudit_tab .lable_title {
	line-height: 24px;
	text-align: center;
	padding: 15px 0 5px;
	cursor: pointer;
}

.withdrawalAudit_tab .lable_title .fa {
	opacity: 0;
	filter: alpha(opacity=0);
	margin-right: 5px;
}

.withdrawalAudit_number {
	padding: 5px 0 15px;
	text-align: center;
	cursor: pointer;
}

.withdrawalAudit_number span {
	display: inline-block;
	line-height: 24px;
	margin: 0 10px;
}

.withdrawalAudit_tab:hover,
.withdrawalAudit_tab.active {
	border-color: #099FB8;
	color: #099FB8;
}

.withdrawalAudit_tab:hover .fa,
.withdrawalAudit_tab.active .fa {
	opacity: 1;
	filter: alpha(opacity=100);
}

.table a,
.table button {
	margin: 0 5px;
}

.table .btn {
	padding: 2px 10px;
}


/*异常提现*/

.cancel_freeze_content,
.deblocking_account_content {
	padding: 0 30px;
}

.cancel_freeze_content>label,
.deblocking_account_content>label,
.SendverificationCodelayer_box_label_title {
	display: block;
	margin: 10px 0;
	font-weight: 100;
}

.deblocking_account_content label i {
	font-style: normal;
}

.cancel_freeze_content textarea,
.deblocking_account_content textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

.tips_withdrawalAudit {
	display: inline-block;
	line-height: 32px;
	margin-left: 20px;
	border: 1px solid #FF6600;
	padding: 0 20px 0 10px;
	color: #FF6600;
}

.layer_box_content {
	padding: 10px 30px;
}

.layer_group {
	overflow: hidden;
	zoom: 1;
}

.layer_title {
	display: block;
	font-weight: 100;
	margin: 0;
	float: left;
}

.layer_content {
	margin-left: 80px;
}

.layer_content textarea {
	padding: 0 2px;
}


/*提现 ——详情*/

.withdrawalDepositForm_box .box {
	padding: 0 10px;
}

.withdrawalDepositForm_box .table_name {
	width: 125px;
	text-align: right;
	padding: 8px 0;
}

.withdrawalDepositForm_box .withdrawalDepositForm_type span {
	margin-left: 15px;
}

.label_title {
	display: block;
	margin: 0;
	line-height: 30px;
	margin: 10px 0;
}

.abnormalReason {
	padding: 10px;
	border: 1px solid #dbdbdb;
}

.abnormalReason p {
	margin: 0;
	color: #666;
	line-height: 24px;
}

.withdrawalDepositForm_box .finance_time {
	margin-top: 30px;
}

.withdrawalDepositForm_decide {
	padding: 0 0 20px;
}

.withdrawalDepositForm_decide_radio label {
	display: inline-block;
	margin-right: 30px;
	font-weight: 100;
	cursor: pointer;
}

.withdrawalDepositForm_decide_textarea_box {
	position: relative;
	width: 500px;
	height: 100px;
}

.withdrawalDepositForm_decide_textarea {
	height: 100%;
	width: 100%;
	resize: none;
}

.footer_from_btn .btn {
	margin-right: 30px;
}

.withdrawalDepositForm_decide p {
	line-height: 20px;
	margin: 10px 0;
}

.withdrawalDepositForm_decide_textarea_max {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.withdrawalDepositForm_decide_textarea_max em {
	font-style: normal;
}


/*
 * 充值详情
 */

.rechargeDetails_list {
	overflow: hidden;
	zoom: 1;
}

.rechargeDetails_list .group_box {
	width: 33.33%;
	padding: 5px 0;
	float: left;
}

.rechargeDetails_list .group_label {
	font-weight: 100;
}

.rechargeDetails_list .group_content {
	float: left;
	color: #666;
	margin: 0;
}

.rechargeDetails_content {
	padding: 0 15px;
}


/**/

.rechargePay_list .group_label {
	width: 100px;
	text-align: right;
}

.rechargePay_list .group_content {
	margin-left: 110px;
}

.rechargePay_list .group_content input[type="text"],
.rechargePay_list .group_content select {
	width: 300px;
	display: inline-block;
}

.rechargePay_list .group_content label {
	display: inline-block;
	margin: 0 30px 0 0;
	font-weight: 100;
}

.pay_tips {
	height: 40px;
	line-height: 40px;
	color: #F4A00D;
	background-color: #FFFDF3;
	border: 1px solid #FFDCB7;
	margin: 20px 0 10px;
}

.pay_tips .fa {
	font-size: 20px;
	margin: 0 15px 0 20px;
}

.download_tips {
	background-color: #F0F0F0;
	padding: 3px 6px;
	margin-left: 10px;
}

.download_tips .fa {
	margin-right: 5px;
}

.rechargePay_type_tab_itme {
	display: none;
}

.rechargePay_type_tab_itme.active {
	display: block;
}

.temporaryPay_top {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dbdbdb;
}

.businessDetils_table_form {
	height: 28px;
}

.businessDetils_table_form.finance_time {
	padding: 0;
	margin: 0;
}

.businessDetils_table_form .form-group,
.businessDetils_table_form .date_striping {
	margin-bottom: 0;
	line-height: 28px;
}

.businessDetils_table_form .form-control {
	height: 28px;
}

.businessDetils_table_form .input-group-addon {
	padding: 5px 12px;
}

.businessDetils_table_form .control-label {
	line-height: 28px;
}

.businessDetils_table_form .btn {
	margin-bottom: 0;
}

.businessDetils_tab_box {
	position: relative;
	border: 0;
}

.businessDetils_tab {
	position: absolute;
	top: 1px;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0 16px;
}

.businessDetils_tab li {
	float: left;
}

.businessDetils_tab li a {
	/*position: relative;*/
	display: block;
	line-height: 20px;
	padding: 8px 15px;
	color: #fff;
}

.businessDetils_tab_content .table>thead>tr>td {
	padding: 4px 6px;
}


/*.businessDetils_box{
	background-color: #fff;
}*/

.businessDetils_demand.finance_time {
	margin: 10px 0 20px;
	padding-bottom: 10px;
	border-bottom: 3px solid #ccc;
}

.box-header .box-title {
	font-size: 14px;
}

.table p {
	margin: 0;
}

.update_password_box {
	padding: 15px 0;
}


/*图片放大*/

.enlargement_shield,
.enlargement_box {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.enlargement_shield {
	background-color: #333;
	opacity: 0.7;
	z-index: 1040;
}

.enlargement_box {
	padding: 30px 0;
	z-index: 1041;
}

.enlargement_content {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.enlargement_content_box {
	padding: 0 30px;
	text-align: center;
}

.enlargement_content img {
	max-height: 100%;
	max-width: 100%;
}

.look_over_box {
	display: none;
}

.look_over_content {
	padding: 10px;
}

.look_over_content a {
	display: block;
	text-align: center;
	margin: 10px 0;
}


/*
 	登录页面
 * */

.login-box {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -136px 0 0 -180px;
}
@media (max-width:768px){
	.login-box{
	    width: 90%;
	    margin: -136px 0 0 -45%;
	}
}
.login-box-msg{
	font-size: 24px;
    font-weight: bold;
}
.login-box-body .has-feedback .form-control {
    padding-left: 38px;
}
.login-box-body .form-control-feedback{
	left: 0;
}
.login_form_btn{
	margin-top: 12px;
    padding-bottom: 10px;
}
.login-box-body .form-group {
    margin-bottom: 18px;
}
.login-box-body{
	padding: 30px;
}

.login_img_box{
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}
.login-page .login_img{
	width: 100%;
	height: 100%;
	vertical-align: top;
}

/*新增权限*/
.jurisdiction_box .rechargePay_list .group_label{
	text-align: left;
	width: 80px;
}
.jurisdiction_box .rechargePay_list .group_content{
	margin-left: 80px;
}
.jurisdiction_box .group_content label{
	display: inline-block;
	width: 100px;
}
.jurisdiction_box .group_content p{
	margin-top: 10px;
    color: #999;
}
.jurisdiction_box .btn{
	margin-right: 20px;
}


/**/
.set_box{
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 10px;
	margin-top: 20px;
	overflow: hidden;
	zoom:1;
}
.set_box .set_box_itme:first-child{
	margin-left: 0;
}
.set_box_itme,
.set_box .set_box_close{
	margin-left: 30px;
	margin-bottom: 10px;
	float: left;
}
.set_box .set_box_close,
.set_box .set_box_close:hover{
	display:inline-block;
	margin-left: 50px;
	color: #169bd5;
	cursor: pointer;
}

.set_box_itme input[type="text"]{
	width: 100px;
	text-align: center;
}
.set_box_itme label{
	display: inline-block;
	font-weight: 100;
	margin: 0 10px;
}
.set_box_btn{
	margin-top: 20px;
	text-align: center;
}
.set_box_add{
	height: 20px;
	line-height: 20px;
	margin-top: 20px;
}


/**
 * *404页面
 */
.error-page>.error-content{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}
