<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.datahost.mapper.mysql.UtilsMapper" >
    
    <select id="isInvolved" parameterType="int" resultType="int"  >
      	select count(*) from cus_order_con where cus_order_id=#{order_id} 
    </select>
    
	<select id="callRegister" resultType="com.manji.datahost.model.mysql.CallRegister">
		select
		a.cus_tel,a.cus_type,a.cus_name,a.cus_account,a.cus_mobile,c.cus_code,
		c.cus_id,c.cus_ctime,c.cus_ltime,c.cus_from,c.cus_way,c.cus_reason,c.cus_remark,c.cus_user_id,c.cus_result
		from cus_info a left join cus_con_sheet b on a.cus_id=b.cus_info_id and b.cus_type=1
		inner join cus_conversation c on b.cus_cid=c.cus_id where a.cus_tel=#{mobile} 
		limit #{pageNumber},#{pageSize}
	</select>
	
	<select id="countCallRegister" parameterType="string" resultType="int">
		select count(*) from cus_info a left join cus_con_sheet b on a.cus_id=b.cus_info_id and b.cus_type=1
		inner join cus_conversation c on b.cus_cid=c.cus_id where a.cus_tel=#{mobile}
	</select>
	
	<select id="sheetInfo" resultType="com.manji.datahost.model.mysql.SheetInfo">
		select a.or_priority,a.or_theme,a.or_establish_time,a.or_sheet_status,c.cus_name,d.cus_title
		from or_sheets a left join cus_con_sheet b on a.or_id=b.cus_cid
		left join cus_info c on b.cus_info_id=c.cus_id
		left join cus_reason d on a.or_sheet_type_id=d.cus_id
		where c.cus_tel=#{mobile}
		limit #{pageNumber},#{pageSize}
	</select>
	
	<select id="countSheetInfo" parameterType="string" resultType="int">
		select count(*) from or_sheets a left join cus_con_sheet b on a.or_id=b.cus_cid
		left join cus_info c on b.cus_info_id=c.cus_id
		left join cus_reason d on a.or_sheet_type_id=d.cus_id
		where c.cus_tel=#{mobile}
	</select>
	
</mapper>