<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.datahost.mapper.sqlserver.OrderMapper" >

	<!-- 订单信息 -->
    <select id="getOrders" parameterType="com.manji.datahost.vo.OrderVo" resultType="com.manji.datahost.model.sqlserver.order.Order"  >
       SELECT * FROM  ( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  
		( SELECT TOP (#{pageNumber}*#{pageSize}) tempcolumn=0, 

			isnull((select user_name from dt_users where id=o.user_id),'-') as buyer_name,o.global_status,o.business_status,
			isnull((select user_name from dt_users where id=o.shop_user_id),'-') as shop_name,
			isnull((select mobile from dt_users where id=o.shop_user_id),'-') as mobile,
			isnull(o.order_no,'-') order_no,o.id as order_id,
			isnull(o.order_amount,0) order_amount,
			isnull(o.add_time,'') add_time,
			isnull(f.name,'-') name,
			isnull(o.book_back_status,'-') book_back_status,
			(259200-DateDiff(ss,o.add_time,getdate())) as diff_time,g.is_deliver
			from dt_orders o left join dt_users u on o.shop_user_id=u.id 
			left join dt_user_role_shopinfo f on o.shop_user_role_value=f.id and o.shop_user_role_type='Shop'  
			left join dt_order_goodinfo g on o.id=g.order_id 
			where o.global_status=1 and
			(DateDiff(ss,o.add_time,getdate())&gt;=172800  and DateDiff(ss,o.add_time,getdate())&lt;=259200 and o.business_status=200 
			or
			DateDiff(ss,o.add_time,getdate())&gt;=172800  and DateDiff(ss,o.add_time,getdate())&lt;=604800 and o.business_status=201
			)
			<if test="start_time != null and start_time != ''"> and o.add_time&gt;=#{start_time}</if>
			<if test="end_time != null and end_time != ''"> and o.add_time&lt;=#{end_time}</if>
			<if test="keyword != null and keyword != ''"> and (u.mobile like '%${keyword}%' or o.order_no like '%${keyword}%' or f.name like '%${keyword}%')</if>
		 )vip)mvp where temprownumber>((#{pageNumber}-1)*#{pageSize})
    </select>
	
	<select id="countOrder" parameterType="com.manji.datahost.vo.OrderVo" resultType="int">
		select count(*) from dt_orders o left join dt_users u on o.shop_user_id=u.id 
		left join dt_user_role_shopinfo f on o.shop_user_role_value=f.id and o.shop_user_role_type='Shop'  
		left join dt_order_goodinfo g on o.id=g.order_id 
		where DateDiff(ss,o.add_time,getdate())&gt;=172800  and DateDiff(ss,o.add_time,getdate())&lt;=259200 
		and g.express_status=1
		<if test="start_time != null and start_time != ''"> and o.add_time&gt;=#{start_time}</if>
		<if test="end_time != null and end_time != ''"> and o.add_time&lt;=#{end_time}</if>
		<if test="keyword != null and keyword != ''"> and (u.mobile like '%${keyword}%' or o.order_no like '%${keyword}%' or f.name like '%${keyword}%')</if>
	</select> 
	
	<!-- 退单信息 -->
	<select id="getOrderBack" parameterType="com.manji.datahost.vo.OrderVo" resultType="com.manji.datahost.model.sqlserver.order.OrderBack">
		SELECT * FROM  ( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  
		( SELECT TOP (#{pageNumber}*#{pageSize}) tempcolumn=0,
			(select user_name from dt_users where id=b.user_id) as user_name,
			c.name,(select mobile from dt_users where id=b.shop_user_id) as mobile,
			a.order_no,a.real_back_amount,a.back_goods,a.status,a.add_time,a.order_id,
			(432000-DateDiff(ss,a.add_time,getdate())) as diff_time,a.global_status,a.business_status
			from dt_order_backinfo a left join dt_orders b on a.order_id=b.id 
			left join dt_user_role_shopinfo c on c.user_id=b.shop_user_id
			left join dt_users d on b.shop_user_id=d.id
			where DateDiff(ss,a.add_time,getdate())&gt;=172800  and DateDiff(ss,a.add_time,getdate())&lt;=432000 and a.global_status =1 and (a.business_status = 100 or a.business_status = 101)
			<if test="start_time != null and start_time != ''"> and a.add_time&gt;=#{start_time}</if>
			<if test="end_time != null and end_time != ''"> and a.add_time&lt;=#{end_time}</if>
			<if test="keyword != null and keyword != ''"> and (d.mobile like '%${keyword}%' or a.order_no like '%${keyword}%' or c.name like '%${keyword}%')</if>
		)vip)mvp where temprownumber>((#{pageNumber}-1)*#{pageSize})
	</select>
	
	<select id="countOrderBack" parameterType="com.manji.datahost.vo.OrderVo" resultType="int">
		select count(*) from dt_order_backinfo a left join dt_orders b on a.order_id=b.id 
		left join dt_user_role_shopinfo c on c.user_id=b.shop_user_id
		left join dt_users d on b.shop_user_id=d.id
		where DateDiff(ss,a.add_time,getdate())&gt;=172800  and DateDiff(ss,a.add_time,getdate())&lt;=432000
		<if test="start_time != null and start_time != ''"> and a.add_time&gt;=#{start_time}</if>
		<if test="end_time != null and end_time != ''"> and a.add_time&lt;=#{end_time}</if>
		<if test="keyword != null and keyword != ''"> and (d.mobile like '%${keyword}%' or a.order_no like '%${keyword}%' or c.name like '%${keyword}%')</if>
	</select>
	
	<select id="getUserShopInfo" parameterType="int" resultType="com.manji.datahost.model.sqlserver.order.OrderDetail">
		select a.order_id,a.accept_name,a.mobile,a.address,c.user_name,b.shop_user_id, 
		(select name from dt_user_role_shopinfo where user_id=b.shop_user_id) as shop_name,
		(select mobile from dt_users where id=b.shop_user_id) as shop_mobile
		from dt_order_goodinfo a left join dt_orders b on a.order_id=b.id left join dt_users c on b.user_id=c.id
		where a.order_id=#{order_id}
	</select>
	
	<select id="getOrderSpec" parameterType="int" resultType="com.manji.datahost.model.sqlserver.order.OrderSpec">
	select order_id,img_url,goods_title,spec_text,real_price,quantity,real_price*quantity as all_money from dt_order_goods where order_id=#{order_id}
	</select>
	
	<select id="getOrderPrice" parameterType="int" resultType="com.manji.datahost.model.sqlserver.order.OrderPrice">
	select id,isnull(express_fee,0) express_fee,global_status,business_status,voucher,real_amount,add_time,order_no,status from dt_orders where id=#{order_id}
	</select>

	<!-- 退单详情 -->
	<select id="getOrderBackInfo" parameterType="string" resultType="com.manji.datahost.model.sqlserver.order.OrderBackInfo">
	select a.status,a.global_status,a.business_status,a.real_back_amount,a.back_goods,a.back_category,a.back_remark,a.back_resource,a.order_no as back_order_no,b.order_no 
	from dt_order_backinfo a left join dt_orders b on a.order_id=b.id where a.order_no=#{order_no}
	</select>
	
	<!-- 根据退单号查订单号 -->
	<select id="getOrderIdByBackNo" parameterType="string" resultType="int">
	select order_id from dt_order_backinfo where order_no=#{back_order_no}
	</select>

   <!--  <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM user
       WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.neo.entity.UserEntity" >
       INSERT INTO 
            users
            (userName,passWord,user_sex) 
        VALUES
            (#{userName}, #{passWord}, #{userSex})
    </insert>
    
    <update id="update" parameterType="com.neo.entity.UserEntity" >
       UPDATE 
            users 
       SET 
        <if test="userName != null">userName = #{userName},</if>
        <if test="passWord != null">passWord = #{passWord},</if>
        nick_name = #{nickName}
       WHERE 
            id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
             users 
       WHERE 
             id =#{id}
    </delete> -->

</mapper>