<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.datahost.mapper.sqlserver.UserInfoMapper" >
    
    <select id="getUserInfo" parameterType="com.manji.datahost.model.sqlserver.user.UserInfo" resultType="com.manji.datahost.model.sqlserver.user.UserInfo"  >
    select top 1 a.id as user_id,a.user_name,a.reg_time,a.area,a.nick_name,a.sex,a.birthday,a.password,a.pay_password,a.mobile,a.email,b.person_name,a.status,b.card_number,
    c.amount,c.voucher,c.state,d.name from dt_users a left join dt_user_personinfo b on a.id=b.user_id 
    left join dt_user_accountinfo c on a.id=c.user_id and c.role_type='Buyer' 
    left join dt_user_role_shopinfo d on a.id=d.user_id where 1=1
    <if test="mobile != null and mobile !=''"> and a.mobile=#{mobile}</if>
    <if test="user_name != null and user_name !=''"> and a.user_name=#{user_name}</if>
    <if test="name != null and name !=''"> and d.name=#{name}</if>
    </select>
    
    <select id="getUserType" parameterType="int" resultType="map">
	    select role_type from dt_user_accountinfo where user_id=#{user_id}
	</select> 
	
	<select id="getUserAccount" parameterType="com.manji.datahost.vo.PageVo" resultType="com.manji.datahost.model.sqlserver.user.UserAccount"  >
    SELECT * FROM  ( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  
		( SELECT TOP (#{pageNumber}*#{pageSize}) tempcolumn=0, 
		 	a.user_id,a.value,a.old_value,a.new_value,a.add_time,a.order_no,a.type,a.remark,b.id as order_id
		 	 from dt_user_amount_log a left join dt_orders b on a.order_no=b.order_no where a.user_id=#{user_id} and a.add_time>DateAdd(Month,-3,getdate()) order by a.add_time desc
		 )vip)mvp where temprownumber>((#{pageNumber}-1)*#{pageSize})
    </select>
    <select id="countUserAccount" parameterType="int" resultType="int">
	select count(*) from dt_user_amount_log a left join dt_orders b on a.order_no=b.order_no where a.user_id=#{user_id} and a.add_time>DateAdd(Month,-3,getdate())
	</select>
    
    <select id="getUserVoucher" parameterType="com.manji.datahost.vo.PageVo" resultType="com.manji.datahost.model.sqlserver.user.UserVoucher"  >
    SELECT * FROM  ( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  
		( SELECT TOP (#{pageNumber}*#{pageSize}) tempcolumn=0, 
		 	a.user_id,a.value,a.old_value,a.new_value,a.add_time,a.order_no,a.type,a.remark,b.id as order_id
		 	from dt_user_voucher_log a left join dt_orders b on a.order_no=b.order_no where a.user_id=#{user_id} and a.add_time>DateAdd(Month,-3,getdate()) order by a.add_time desc
		 )vip)mvp where temprownumber>((#{pageNumber}-1)*#{pageSize})
    </select>
    <select id="countUserVoucher" parameterType="int" resultType="int">
	select count(*) from dt_user_voucher_log a left join dt_orders b on a.order_no=b.order_no where a.user_id=#{user_id} and a.add_time>DateAdd(Month,-3,getdate())
	</select>
    
    <select id="getUserOrder" parameterType="com.manji.datahost.vo.PageVo" resultType="com.manji.datahost.model.sqlserver.user.UserOrder"  >
     SELECT * FROM  ( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  
		( SELECT TOP (#{pageNumber}*#{pageSize}) tempcolumn=0,
			o.id as order_id,isnull((select user_name from dt_users where id=o.user_id),'-') as buyer_name,isnull(o.payment_status,'-') payment_status,
		    isnull((select user_name from dt_users where id=o.shop_user_id),'-') as shop_name,
			isnull((select mobile from dt_users where id=o.shop_user_id),'-') as mobile,
			isnull(o.order_no,'-') order_no,isnull(o.order_amount,0) order_amount,isnull(o.add_time,'') add_time,isnull(g.express_status,'-') express_status,
			isnull(o.status,'-') status,isnull(f.name,'-') name,isnull(o.book_back_status,'-') book_back_status from 
			dt_orders o left join dt_users u on o.shop_user_id=u.id 
			left join dt_order_goodinfo g on o.id=g.order_id 
			left join dt_user_role_shopinfo f on o.shop_user_role_value=f.id and o.shop_user_role_type='Shop' 
			where o.user_id=#{user_id} and o.add_time>DateAdd(Month,-3,getdate())
		 )vip)mvp where temprownumber>((#{pageNumber}-1)*#{pageSize})
    </select>
    <select id="countUserOrder" parameterType="int" resultType="int">
	select count(*) from dt_orders o left join dt_users u on o.shop_user_id=u.id 
	left join dt_order_goodinfo g on o.id=g.order_id 
	left join dt_user_role_shopinfo f on o.shop_user_role_value=f.id and o.shop_user_role_type='Shop' 
	left join dt_order_backinfo b on o.id=b.order_id where o.user_id=#{user_id} and o.add_time>DateAdd(Month,-3,getdate())
	</select>
    
    <select id="getUserAddress" parameterType="com.manji.datahost.vo.PageVo" resultType="com.manji.datahost.model.sqlserver.user.UserAddress"  >
    SELECT * FROM  ( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  
		( SELECT TOP (#{pageNumber}*#{pageSize}) tempcolumn=0, 
		 	user_id,accept_name,mobile,address,post_code,is_default from dt_user_addr_book  where user_id=#{user_id}
		 )vip)mvp where temprownumber>((#{pageNumber}-1)*#{pageSize})
    </select>
     <select id="countUserAddress" parameterType="int" resultType="int">
	select count(*) from dt_user_addr_book  where user_id=#{user_id}
	</select>
    
	<select id="getUserRegister" parameterType="string" resultType="com.manji.datahost.model.sqlserver.user.UserRegister"  >
	select a.reg_time,a.mobile,a.status,b.state,b.role_type,
	COALESCE(c.person_name,a.user_name) as name 
	from dt_users a left join dt_user_accountinfo b on a.id=b.user_id and b.role_type='Buyer' 
	left join dt_user_personinfo c on a.id=c.user_id where a.user_name=#{user_name}
    </select>
    
	<select id="getShopRegister" parameterType="string" resultType="com.manji.datahost.model.sqlserver.user.ShopRegister">
	select a.reg_time,a.mobile,a.status,b.state,b.role_type,c.name,c.area,c.add_time
	from dt_users a left join dt_user_accountinfo b on a.id=b.user_id and b.role_type='Shop'
	left join dt_user_role_shopinfo c on a.id=c.user_id where  a.user_name=#{user_name}
	</select>  
	
	<select id="getAgentRegister" parameterType="string" resultType="com.manji.datahost.model.sqlserver.user.AgentRegister">
	select a.reg_time,a.mobile,a.status,b.state,b.role_type,c.name,c.agent_area
	from dt_users a left join dt_user_accountinfo b on a.id=b.user_id and b.role_type='Agent'
	left join dt_user_role_agentinfo c on a.id=c.user_id where  a.user_name=#{user_name}
	</select>  
	
	<select id="getUserNameByPersonName" parameterType="string" resultType="map">
	select user_name from dt_users where id in (select user_id  from dt_user_personinfo where person_name=#{person_name}
	union select user_id from dt_user_role_shopinfo where name=#{person_name})
	</select>
</mapper>