<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户信息维护</title>
    <link href="../../static/css/communal.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/communal.js"></script>
    <script type="text/javascript" src="../../static/js/systemPush/userInfo.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);//添加框
                $(".tip1").fadeOut(200);//提示框
                $(".tip2").fadeOut(200);//修改
                $(".tip3").fadeOut(200);//删除
            });

            $(".sure").click(function(){

                $(".tip1").fadeOut(200);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
                $(".tip1").fadeOut(200);
                $(".tip3").fadeOut(200);
            });
        });
    </script>
</head>


<body>
<!-- 弹出层 -->
<div class="box"></div>
<div class="hint">
    <div class="hint-in1">
        <div style="line-height:70px;color:#f4e8df;font-size:26px;padding-left:80px;">温馨提醒</div>
    </div>
    <div class="hint-in2"><p id="hint-in2" class="tishi"></p></div>
    <div class="hint-in3" onclick="closeMessage()">确定</div>
</div>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">系统设置</a></li>
        <li><a href="#">系统管理</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">
        <input id="checkPeople" th:attr="value=${session.user.getUserName()}" type="hidden"/>
        <ul class="toolbar">
            <li onclick="add()" id="add"><span><img src="../../static/images/t01.png" /></span>添加</li>
            <li onclick="modify()" id="modify"><span><img src="../../static/images/t02.png" /></span>修改</li>
            <li onclick="resetPassword()" id="resetPassword"><span><img src="../../static/images/resetPassword.png" /></span>重置密码</li>
            <!--<li onclick="removeData()" id="del"><span><img src="../../static/images/t03.png" /></span>删除</li>-->
        </ul>
    </div>
    <table class="tablelist">
        <thead>
        <tr>
            <th><input type="checkbox" value="" onclick="selectAll()"/></th>
            <th>编号<i class="sort"><img src="../../static/images/px.gif" /></i></th>
            <th>用户ID</th>
            <th>用户名称</th>
            <th>职位名称</th>
            <th>用户密码</th>
            <th>真实姓名</th>
            <th>电话号码</th>
            <th>邮箱</th>
            <th>最近登录时间</th>
            <th>创建时间</th>
            <th>登录次数</th>
        </tr>
        </thead>
        <tbody id="myBody">

        </tbody>
    </table>

    <!-- 添加 -->
    <div class="tip" style="height: 400px;">
        <div class="tiptop"><span>添加</span><a></a></div>

        <div class="tipinfo">
            <ul class="forminfo">
                <li><label>用户名称<b>*</b></label><input id="userName" type="text" class="dfinput" /></li>
                <li><label>用户密码<b>*</b></label><input id="passWord" type="password" class="dfinput" /></li>
                <li><label>真实姓名<b>*</b></label><input id="realName" type="text" class="dfinput" /></li>
                <li><label>权限名称<b>*</b></label>
                    <div class="styled-select" style="width:303px;margin-bottom:13px;">
                        <select class="mySelect" id="roleName" style="width:323px; height:32px;">
                            <option value=""></option>
                        </select>
                    </div>
                </li>
                <li><label>电话号码<b>*</b></label><input id="mobile" type="text" class="dfinput" /></li>
                <li><label>邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱<b>*</b></label><input id="email" type="text" class="dfinput" /></li>
            </ul>
        </div>
        <div class="tipbtn" style="margin-top:180px;">
            <input name="" type="button"  class="mysure" value="确定" onclick="save()"/>&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>

    </div>
    <!--修改-->
    <div class="tip2">
        <div class="tiptop"><span>修改</span><a></a></div>

        <div class="tipinfo">
            <ul class="forminfo">
                <li><label>用户 &nbsp; ID<b>*</b></label><input id="userId2" type="text" class="dfinput" disabled="disabled"/></li>
                <li><label>用户名称<b>*</b></label><input id="userName3" type="text" class="dfinput" disabled="disabled"/></li>
                <li><label>新 &nbsp;&nbsp;密码<b>*</b></label><input id="newPassword" type="text" class="dfinput" placeholder="不修改密码请不要填写"/></li>
                <li><label>真实姓名<b>*</b></label><input id="realName2" type="text" class="dfinput"/></li>
                <li><label>权限名称<b>*</b></label>
                    <div class="styled-select" style="width:303px;margin-bottom:13px;">
                        <select class="mySelect" id="roleName2" style="width:323px; height:32px;">
                            <option value=""></option>
                        </select>
                    </div>
                </li>
                <li><label>电话号码<b>*</b></label><input id="mobile2" type="text" class="dfinput" /></li>
                <li><label>邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱<b>*</b></label><input id="email2" type="text" class="dfinput" /></li>
            </ul>
        </div>
        <div class="tipbtn2">
            <input name="" type="button"  class="sure" value="修改" onclick="modifyInfo()"/>&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>

    </div>
    <!--提示消息-->
    <div class="tip1" style="display: none;">
        <div class="tiptop"><span>提示信息</span><a></a></div>

        <div class="tipinfo">
            <span><img src="../../static/images/ticon.png" /></span>
            <div class="tipright">
                <p id="message"></p>

            </div>
        </div>
        <div class="tipbtn">
            <input  type="button"  class="sure" value="确定"/>&nbsp;
            <input  type="button"  class="cancel" value="取消" />
        </div>
    </div>
    <!--删除-->
    <div class="tip3" style="display: none;">
        <div class="tiptop"><span>提示信息</span><a></a></div>

        <div class="tipinfo">
            <span><img src="../../static/images/ticon.png" /></span>
            <div class="tipright">
                <p>确定删除吗?</p>
            </div>
        </div>
        <div class="tipbtn">
            <input id="delUserId" type="hidden"/>
            <input  type="button"  value="确定" class="delSure" onclick="removeInfo()"/>&nbsp;
            <input  type="button"  class="cancel" value="取消" />
        </div>
    </div>
</div>
</body>
</html>
