<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manji.backstage.mapper.ArtiMapper">


	<select id="countArticle" parameterType="ArticleVo" resultType="int">
		select count(*) from dt_article where 1=1
			<if test="user_id != null and user_id != ''">
				and user_id =#{user_id}
			</if>
			<if test="title != null and title != ''">
				and title like '%${title}%'
			</if>
			<if test="status != -1">
				and status=#{status}
			</if>
			<if test="is_del != -1">
				and is_del =#{is_del}
			</if>
	</select>

	<select id="queryArticle" parameterType="ArticleVo" resultType="Article">
	
	
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article   where  1=1 
		
			<if test="user_id != null and user_id != ''">
				and user_id =#{user_id}
			</if>
			<if test="title != null and title != ''">
				and title like '%${title}%'
			</if>
			<if test="status != -1">
				and status=#{status}
			</if>
			<if test="is_del != -1">
				and is_del =#{is_del}
			</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)

	</select>

	<select id="getArticle" parameterType="int" resultType="Article">
		select *
		from dt_article where id=#{0}
	</select>

	<delete id="delArticle" parameterType="int">
		delete from dt_article
		where id=#{0}
	</delete>

	<insert id="addArticle" parameterType="Article">
		insert into dt_article
		(channel_id,category_id,user_category_id,call_index,title,link_url,img_url,seo_title,seo_keywords,seo_description,tags,zhaiyao,sort_id,status,is_msg,is_top,is_red,is_hot,is_slide,user_id,user_role_type,user_role_value,add_time,update_time,is_del,remark)
		values(#{channel_id},#{category_id},#{user_category_id},#{call_index},#{title},#{link_url},#{img_url},#{seo_title},#{seo_keywords},#{seo_description},#{tags},#{zhaiyao},#{sort_id},#{status},#{is_msg},#{is_top},#{is_red},#{is_hot},#{is_slide},#{user_id},#{user_role_type},#{user_role_value},#{add_time},#{update_time},#{is_del},#{remark})
	</insert>
	<update id="updArticle" parameterType="Article">
		update dt_article set
		channel_id =#{channel_id},
		category_id =#{category_id},
		user_category_id =#{user_category_id},
		call_index =#{call_index},
		title
		=#{title},
		link_url =#{link_url},
		img_url =#{img_url},
		seo_title
		=#{seo_title},
		seo_keywords =#{seo_keywords},
		seo_description=#{seo_description},
		tags =#{tags},
		zhaiyao=#{zhaiyao},
		sort_id =#{sort_id},
		status=#{status},
		is_msg =#{is_msg},
		is_top
		=#{is_top},
		is_red =#{is_red},
		is_hot=#{is_hot},
		is_slide=#{is_slide},
		user_id=#{user_id},
		user_role_type=#{user_role_type},
		user_role_value=#{user_role_value},
		add_time=#{add_time},
		update_time
		=#{update_time},
		is_del=#{is_del},
		remark=#{remark}

		where id=#{id}

	</update>



	<select id="countArticleInfo" parameterType="ArticleInfoVo"
		resultType="int">
		select count(*) from dt_article_info where 1=1
			<if test="sub_title != null and sub_title != ''">
				and sub_title like '%${sub_title}%'
			</if>
			<if test="is_show != -1">
				and is_show =#{is_show}
			</if>
			<if test="is_distribution != -1">
				and is_distribution =#{is_distribution}
			</if>
	</select>

	<select id="queryArticleInfo" parameterType="ArticleInfoVo"
		resultType="ArticleInfo">
		
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_info   where  1=1 
		
			<if test="sub_title != null and sub_title != ''">
				and sub_title like '%${sub_title}%'
			</if>
			<if test="is_show != -1">
				and is_show =#{is_show}
			</if>
			<if test="is_distribution != -1">
				and is_distribution =#{is_distribution}
			</if>
		order by article_id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)
		
	</select>
	<select id="getArticleInfo" parameterType="int" resultType="ArticleInfo">
		select * from dt_article_info where article_id=#{0}
	</select>

	<delete id="delArticleInfo" parameterType="int">
		delete from
		dt_article_info where article_id=#{0}
	</delete>
	<insert id="addArticleInfo" parameterType="ArticleInfo">
		insert into
		dt_article_info
		(article_id,sub_title,goods_no,stock_quantity,market_price,sell_price,point,brand,is_show,is_distribution,goods_describe,goods_expenses)
		values(#{article_id},#{sub_title},#{goods_no},#{stock_quantity},#{market_price},#{sell_price},#{point},#{brand},#{is_show},#{is_distribution},#{goods_describe},#{goods_expenses})
	</insert>
	<update id="updArticleInfo" parameterType="ArticleInfo">
		update dt_article_info
		set
		sub_title=#{sub_title},
		goods_no=#{goods_no},
		stock_quantity=#{stock_quantity},
		market_price=#{market_price},
		sell_price=#{sell_price},
		point=#{point},
		brand=#{brand},
		is_show=#{is_show},
		is_distribution=#{is_distribution},
		goods_describe=#{goods_describe},
		goods_expenses=#{goods_expenses}
		where article_id=#{article_id}

	</update>




	<select id="countArticleContent" parameterType="ArticleContentVo"
		resultType="int">
		select count(*) from dt_article_content where 1=1
		<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
	</select>

	<select id="queryArticleContent" parameterType="ArticleContentVo"
		resultType="ArticleContent">
		
		
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_content   where  1=1 
		
			<if test="article_id != null and article_id != ''">
				and article_id=#{article_id}
			</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)
	</select>

	<select id="getArticleContent" parameterType="int" resultType="ArticleContent">
		select * from dt_article_content where id=#{0}
	</select>
	<delete id="delArticleContent" parameterType="int">
		delete from
		dt_article_content where id=#{0}
	</delete>

	<insert id="addArticleContent" parameterType="ArticleContent">
		insert into
		dt_article_content
		(article_id,matter,content,content_wap,update_time)
		values(#{article_id},#{matter},#{content},#{content_wap},#{update_time})
	</insert>
	<update id="updArticleContent" parameterType="ArticleContent">
		update
		dt_article_content set
		article_id=#{article_id},
		matter=#{matter},
		content=#{content},
		content_wap=#{content_wap},
		update_time=#{update_time}
		where id=#{id}
	</update>



	<select id="countArticleCount" parameterType="ArticleCountVo"
		resultType="int">
		select count(*) from dt_article_count where 1=1
		<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
	</select>

	<select id="queryArticleCount" parameterType="ArticleCountVo"
		resultType="ArticleCount">
		
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_count   where  1=1 
		
			<if test="article_id != null and article_id != ''">
				and article_id=#{article_id}
			</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)

	</select>

	<select id="getArticleCount" parameterType="int" resultType="ArticleCount">
		select * from dt_article_count where id=#{0}
	</select>
	<delete id="delArticleCount" parameterType="int">
		delete from
		dt_article_count where id=#{0}
	</delete>

	<insert id="addArticleCount" parameterType="ArticleCount">
		insert into
		dt_article_count
		(article_id,call_index,view_times,fav_times,order_times,goods_vote_times,mid_vote_times,bad_vote_times,update_time,review_score)
		values(#{article_id},#{call_index},#{view_times},#{fav_times},#{order_times},#{goods_vote_times},#{mid_vote_times},#{bad_vote_times},#{update_time},#{review_score})
	</insert>
	<update id="updArticleCount" parameterType="ArticleCount">
		update
		dt_article_count set
		article_id=#{article_id},
		call_index=#{call_index},
		view_times=#{view_times},
		fav_times=#{fav_times},
		order_times=#{order_times},
		goods_vote_times=#{goods_vote_times},
		mid_vote_times=#{mid_vote_times},
		bad_vote_times=#{bad_vote_times},
		update_time=#{update_time},
		review_score=#{review_score}
		where id=#{id}
	</update>

	<select id="countArticleComment" parameterType="ArticleCommentVo"
		resultType="int">
		select count(*) from dt_article_comment where 1=1
		<if test="is_del != -1">
				and is_del=#{is_del}
			</if>
			<if test="is_lock != -1">
				and is_lock=#{is_lock}
			</if>
			<if test="article_id != null and article_id != ''">
				and article_id=#{article_id}
			</if>
			<if test="content != null and content != ''">
				and content like '%${content}%'
			</if>
	</select>

	<select id="queryArticleComment" parameterType="ArticleCommentVo"
		resultType="ArticleComment">
		
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_comment   where  1=1 
		
			<if test="is_del != -1">
				and is_del=#{is_del}
			</if>
			<if test="is_lock != -1">
				and is_lock=#{is_lock}
			</if>
			<if test="article_id != null and article_id != ''">
				and article_id=#{article_id}
			</if>
			<if test="content != null and content != ''">
				and content like '%${content}%'
			</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)

	</select>
	<select id="getArticleComment" parameterType="int" resultType="ArticleComment">
		select * from dt_article_comment where id=#{0}
	</select>
	<delete id="delArticleComment" parameterType="int">
		delete from
		dt_article_comment where id=#{0}
	</delete>
	<insert id="addArticleComment" parameterType="ArticleComment">
		insert into
		dt_article_comment(channel_id,article_id,order_id,parent_id,user_id,user_role_type,user_role_value,user_ip,content,pics,is_lock,
		add_time,is_reply,reply_content,reply_time,is_del)
		values
		(#{channel_id},#{article_id},#{order_id},#{parent_id},#{user_id},#{user_role_type},#{user_role_value},#{user_ip},#{content},#{pics},#{is_lock},#{add_time},#{is_reply},#{reply_content},#{reply_time},#{is_del})
	</insert>

	<update id="updArticleComment" parameterType="ArticleComment">
		update
		dt_article_comment set
		channel_id=#{channel_id},
		article_id=#{article_id},
		order_id=#{order_id},
		parent_id=#{parent_id},
		user_id=#{user_id},
		user_role_type=#{user_role_type},
		user_role_value=#{user_role_value},
		user_ip=#{user_ip},
		content=#{content},
		pics=#{pics},
		is_lock=#{is_lock},
		add_time=#{add_time},
		is_reply=#{is_reply},
		reply_content=#{reply_content},
		reply_time=#{reply_time},
		is_del=#{is_del}
		where id=#{id}

	</update>






	<select id="countArticleAlbums" parameterType="ArticleAlbumsVo"
		resultType="int">
		select count(*) from dt_article_albums where 1=1
		<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
	</select>

	<select id="queryArticleAlbums" parameterType="ArticleAlbumsVo"
		resultType="ArticleAlbums">
		
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_albums   where  1=1 
		
			<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)

	</select>
	<select id="getArticleAlbums" parameterType="int" resultType="ArticleAlbums">
		select * from dt_article_albums where id=#{0}
	</select>
	<insert id="addArticleAlbums" parameterType="ArticleAlbums">
		insert into
		dt_article_albums(article_id,thumb_path,original_path,remark,add_time)
		values(#{article_id},#{thumb_path},#{original_path},#{remark},#{add_time})
	</insert>
	<update id="updArticleAlbums" parameterType="ArticleAlbums">
		update
		dt_article_albums set
		article_id=#{article_id},
		thumb_path=#{thumb_path},
		original_path=#{original_path},
		remark=#{remark},
		add_time=#{add_time}
		where id=#{id}
	</update>
	<delete id="delArticleAlbums" parameterType="int">
		delete from
		dt_article_albums where id=#{0}
	</delete>




	<select id="countArticleGoods" parameterType="ArticleGoodsVo"
		resultType="int">
		select count(*) from dt_article_goods where 1=1
		<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
		<if test="goods_no != null and goods_no != ''">
			and goods_no=#{goods_no}
		</if>
	</select>

	<select id="queryArticleGoods" parameterType="ArticleGoodsVo"
		resultType="ArticleGoods">
		
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_goods   where  1=1 
		
			<if test="article_id != null and article_id != ''">
				and article_id=#{article_id}
			</if>
			<if test="goods_no != null and goods_no != ''">
				and goods_no=#{goods_no}
			</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)

	</select>
	<select id="getArticleGoods" parameterType="int" resultType="ArticleGoods">
		select * from dt_article_goods where id=#{0}
	</select>
	<insert id="addArticleGoods" parameterType="ArticleGoods">
		insert into
		dt_article_goods(article_id,spec_text,stock_quantity,market_price,sell_price)
		values(#{article_id},#{spec_text},#{stock_quantity},#{market_price},#{sell_price})
	</insert>
	<update id="updArticleGoods" parameterType="ArticleGoods">
		update
		dt_article_goods set
		article_id=#{article_id},
		spec_text=#{spec_text},
		stock_quantity=#{stock_quantity},
		market_price=#{market_price},
		sell_price=#{sell_price}
		where id=#{id}
	</update>
	<delete id="delArticleGoods" parameterType="int">
		delete from
		dt_article_goods where id=#{0}
	</delete>


	<select id="countArticleScreen" parameterType="ArticleScreenVo"
		resultType="int">
		select count(*) from dt_article_screen where 1=1
		<if test="shop_id != null and shop_id != ''">
			and shop_id=#{shop_id}
		</if>
		<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
		<if test="article_title != null and article_title != ''">
			and article_title like '%${article_title}%'
		</if>
	</select>

	<select id="queryArticleScreen" parameterType="ArticleScreenVo"
		resultType="ArticleScreen">
		select * from dt_article_screen dt1,
		(
		select top 20 id from
		(
		select
		top(#{index}*20) id from dt_article_screen where 1=1
		<if test="shop_id != null and shop_id != ''">
			and shop_id=#{shop_id}
		</if>
		<if test="article_id != null and article_id != ''">
			and article_id=#{article_id}
		</if>
		<if test="article_title != null and article_title != ''">
			and article_title like '%${article_title}%'
		</if>
		order by id desc
		)dt order by dt.id asc
		)dt2 where dt1.id=dt2.id order
		by dt1.id
	</select>
	<select id="getArticleScreen" parameterType="long" resultType="ArticleScreen">
		select * from dt_article_screen where id=#{0}
	</select>
	<insert id="addArticleScreen" parameterType="ArticleScreen">
		insert into
		dt_article_screen(shop_id,shop_send_area,article_id,article_category_id,article_category_name,article_user_category_id,
		article_user_category_name,article_brand_id,article_brand_name,article_title,article_goods_no,article_img_url,article_tags,article_add_time,
		article_market_price,article_sell_price,article_order_times,article_review_score,article_activity,article_freeshipping_area,article_distribution_area,
		update_time)
		values(#{shop_id},#{shop_send_area},#{article_id},#{article_category_id},#{article_category_name},#{article_user_category_id},
		#{article_user_category_name},#{article_brand_id},#{article_brand_name},#{article_title},#{article_goods_no},#{article_img_url},#{article_tags},
		#{article_add_time},#{article_market_price},#{article_sell_price},#{article_order_times},#{article_review_score},#{article_activity},#{article_freeshipping_area},
		#{article_distribution_area},#{update_time})
	</insert>
	<update id="updArticleScreen" parameterType="ArticleScreen">
		update
		dt_article_screen set
		shop_id=#{shop_id},
		shop_send_area=#{shop_send_area},
		article_id=#{article_id},
		article_category_id=#{article_category_id},
		article_category_name=#{article_category_name},
		article_user_category_id=#{article_user_category_id},
		article_user_category_name=#{article_user_category_name},
		article_brand_id=#{article_brand_id},
		article_brand_name=#{article_brand_name},
		article_title=#{article_title},
		article_goods_no=#{article_goods_no},
		article_img_url=#{article_img_url},
		article_tags=#{article_tags},
		article_add_time=#{article_add_time},
		article_market_price=#{article_market_price},
		article_sell_price=#{article_sell_price},
		article_order_times=#{article_order_times},
		article_review_score=#{article_review_score},
		article_activity=#{article_activity},
		article_freeshipping_area=#{article_freeshipping_area},
		article_distribution_area=#{article_distribution_area},
		update_time=#{update_time}
		where id=#{id}
	</update>
	<delete id="delArticleScreen" parameterType="int">
		delete from
		dt_article_screen where id=#{0}
	</delete>


	<!-- ///////////////////////////////////// -->
	<select id="countArticleCategory" parameterType="ArticleCategoryVo"
		resultType="int">
		select count(*) from dt_article_category dt1 left join dt_channel dt2 on dt1.channel_id=dt2.id where 1=1
		<if test="id != null and id != ''">
			and dt1.id=#{id}
		</if>
		<if test="type != null and type != '-1'">
			and dt1.type=#{type}
		</if>
		<if test="title != null and title != ''">
			and dt1.title like '%${title}%'
		</if> 
	</select>

	<select id="queryArticleCategory" parameterType="ArticleCategoryVo"
		resultType="ArticleCategory">
		
		
		SELECT * FROM 
		 (SELECT ROW_NUMBER() over (order by tempcolumn) temprownumber,* from 

		 (SELECT TOP (#{index}*20) tempcolumn=0,dt2.title as channel_title,dt1.*  from dt_article_category dt1 left join dt_channel dt2  on  dt1.channel_id=dt2.id
		
		where 1=1
		<if test="id != null and id != ''">
			and dt1.id=#{id}
		</if>
		<if test="type != null and type != '-1'">
			and dt1.type=#{type}
		</if>
		<if test="title != null and title != ''">
			and dt1.title like '%'+#{title}+'%'
		</if> 
		order by dt1.id desc) vip)

		mvp where temprownumber>(#{index}-1)*20
	</select>
	<select id="getArticleCategory" parameterType="int" resultType="ArticleCategory">
		select * from dt_article_category where id=#{0}
	</select>

	<delete id="delArticleCategory" parameterType="int">
		delete from
		dt_article_category where id=#{0}
	</delete>
	<insert id="addArticleCategory" parameterType="ArticleCategory">
		insert into
		dt_article_category
		(channel_id,type,title,call_index,parent_id,class_list,class_layer,sort_id,link_url,img_url,content,seo_title,seo_keywords,seo_description,moren,is_reminder)
		values(#{channel_id},#{type},#{title},#{call_index},#{parent_id},#{class_list},#{class_layer},#{sort_id},#{link_url},#{img_url},#{content},#{seo_title},#{seo_keywords},#{seo_description},#{moren},#{is_reminder})
	</insert>
	<update id="updArticleCategory" parameterType="ArticleCategory">
		update dt_article_category set
		channel_id=#{channel_id},
		type=#{type},
		title=#{title},
		call_index=#{call_index},
		parent_id=#{parent_id},
		class_list=#{class_list},
		class_layer=#{class_layer},
		sort_id=#{sort_id},
		link_url=#{link_url},
		img_url=#{img_url},
		content=#{content},
		seo_title=#{seo_title},
		seo_keywords=#{seo_keywords},
		seo_description=#{seo_description},
		moren=#{moren},
		is_reminder=#{is_reminder}
		where
		id=#{id}

	</update>

	<!-- ///////////////////////////////////// -->
	<select id="countArticleCategoryCount" parameterType="ArticleCategoryCountVo"
		resultType="int">
		select count(*) from dt_article_category_count where 1=1
		<if test="category_id != null and category_id != ''">
			and category_id like '%${category_id}%'
		</if>
		<if test="type != null and type != '-1'">
			and type=#{type}
		</if>
	</select>

	<select id="queryArticleCategoryCount" parameterType="ArticleCategoryCountVo"
		resultType="ArticleCategoryCount">
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_category_count   where  1=1 
		
		<if test="category_id != null and category_id != ''">
			and category_id like '%${category_id}%'
		</if>
		<if test="type != null and type != '-1'">
			and type=#{type}
		</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)
	</select>
	<select id="getArticleCategoryCount" parameterType="int"
		resultType="ArticleCategoryCount">
		select * from dt_article_category_count where id=#{0}
	</select>

	<delete id="delArticleCategoryCount" parameterType="int">
		delete from
		dt_article_category_count where id=#{0}
	</delete>
	<insert id="addArticleCategoryCount" parameterType="ArticleCategoryCount">
		insert into
		dt_article_category_count
		(category_id,type,count,parent_id,update_time)
		values(#{category_id},#{type},#{count},#{parent_id},#{update_time})
	</insert>
	<update id="updArticleCategoryCount" parameterType="ArticleCategoryCount">
		update
		dt_article_category_count set
		category_id=#{category_id},
		type=#{type},
		count=#{count},
		parent_id=#{parent_id},
		update_time=#{update_time}
		where
		id=#{id}

	</update>

	<!-- ///////////////////////////////////// -->
	<select id="countArticleCategoryUser" parameterType="ArticleCategoryUserVo"
		resultType="int">
		select count(*) from dt_article_category_user where 1=1
		<if test="user_id != null and user_id != ''">
			and user_id like '%${user_id}%'
		</if>
		<if test="title != null and title != ''">
			and title like '%${title}%'
		</if>
	</select>

	<select id="queryArticleCategoryUser" parameterType="ArticleCategoryUserVo"
		resultType="ArticleCategoryUser">
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_category_user   where  1=1 
		<if test="user_id != null and user_id != ''">
			and user_id like '%${user_id}%'
		</if>
		<if test="title != null and title != ''">
			and title like '%${title}%'
		</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)
	</select>
	<select id="getArticleCategoryUser" parameterType="int"
		resultType="ArticleCategoryUser">
		select * from dt_article_category_user where id=#{0}
	</select>

	<delete id="delArticleCategoryUser" parameterType="int">
		delete from
		dt_article_category_user where id=#{0}
	</delete>
	<insert id="addArticleCategoryUser" parameterType="ArticleCategoryUser">
		insert into
		dt_article_category_user
		(channel_id,user_id,user_role_type,user_role_value,type,title,call_index,parent_id,class_list,class_layer,sort_id,link_url,img_url,is_del,
		content,seo_title,seo_keywords,seo_description)
		values
		(#{channel_id},#{user_id},#{user_role_type},#{user_role_value},#{type},#{title},#{call_index},#{parent_id},#{class_list},#{class_layer},#{sort_id},#{link_url},
		#{img_url},#{is_del},#{content},#{seo_title},#{seo_keywords},#{seo_description})
	</insert>
	<update id="updArticleCategoryUser" parameterType="ArticleCategoryUser">
		update
		dt_article_category_user set
		channel_id=#{channel_id},
		user_id=#{user_id},
		user_role_type=#{user_role_type},
		user_role_value=#{user_role_value},
		type=#{type},
		title=#{title},
		call_index=#{call_index},
		parent_id=#{parent_id},
		class_list=#{class_list},
		class_layer=#{class_layer},
		sort_id=#{sort_id},
		link_url=#{link_url},
		img_url=#{img_url},
		is_del=#{is_del},
		content=#{content},
		seo_title=#{seo_title},
		seo_keywords=#{seo_keywords},
		seo_description=#{seo_description}
		where id=#{id}

	</update>

	<!-- ///////////////////////////////////// -->
	<select id="countArticleCategoryField" parameterType="ArticleCategoryFieldVo"
		resultType="int">
		select count(*) from dt_article_category_field where 1=1
		<if test="category_id != null and category_id != ''">
			and category_id like '%${category_id}%'
		</if>
		<if test="field_id != null and field_id != ''">
			and field_id like '%${field_id}%'
		</if>
	</select>

	<select id="queryArticleCategoryField" parameterType="ArticleCategoryFieldVo"
		resultType="ArticleCategoryField">
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_category_field   where  1=1 
		<if test="category_id != null and category_id != ''">
			and category_id like '%${category_id}%'
		</if>
		<if test="field_id != null and field_id != ''">
			and field_id like '%${field_id}%'
		</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)
	</select>
	<select id="getArticleCategoryField" parameterType="int"
		resultType="ArticleCategoryField">
		select * from dt_article_category_field where id=#{0}
	</select>

	<delete id="delArticleCategoryField" parameterType="int">
		delete from
		dt_article_category_field where id=#{0}
	</delete>
	<insert id="addArticleCategoryField" parameterType="ArticleCategoryField">
		insert into
		dt_article_category_field
		(category_id,field_id)
		values(#{category_id},#{field_id})
	</insert>
	<update id="updArticleCategoryField" parameterType="ArticleCategoryField">
		update
		dt_article_category_field set
		category_id=#{category_id},
		field_id=#{field_id}
		where id=#{id}

	</update>

	<!-- ///////////////////////////////////// -->
	<select id="countArticleCategorySpec" parameterType="ArticleCategorySpecVo"
		resultType="int">
		select count(*) from dt_article_category_spec where 1=1
		<if test="category_id != null and category_id != ''">
			and category_id like '%${category_id}%'
		</if>
		<if test="spec_id != null and spec_id != ''">
			and spec_id like '%${spec_id}%'
		</if>
	</select>

	<select id="queryArticleCategorySpec" parameterType="ArticleCategorySpecVo"
		resultType="ArticleCategorySpec">
		SELECT * FROM 

		( SELECT row_number() over (order by tempcolumn) temprownumber, * FROM  

		( SELECT TOP (#{index}*20) tempcolumn=0, *  from dt_article_category_spec   where  1=1 
		<if test="category_id != null and category_id != ''">
			and category_id like '%${category_id}%'
		</if>
		<if test="spec_id != null and spec_id != ''">
			and spec_id like '%${spec_id}%'
		</if>
		order by id desc
		 )vip)mvp where temprownumber>((#{index}-1)*20)
	</select>
	<select id="getArticleCategorySpec" parameterType="int"
		resultType="ArticleCategorySpec">
		select * from dt_article_category_spec where id=#{0}
	</select>

	<delete id="delArticleCategorySpec" parameterType="int">
		delete from
		dt_article_category_spec where id=#{0}
	</delete>
	<insert id="addArticleCategorySpec" parameterType="ArticleCategorySpec">
		insert into
		dt_article_category_spec
		(category_id,spec_id)
		values(#{category_id},#{spec_id})
	</insert>
	<update id="updArticleCategorySpec" parameterType="ArticleCategorySpec">
		update
		dt_article_category_spec set
		category_id=#{category_id},
		spec_id=#{spec_id}
		where id=#{id}

	</update>



	<select id="countOrderCommentFalse" parameterType="OrderCommentFalseVo"
		resultType="int">
		select count(*) from dt_order_comment_false where 1=1
	</select>
	<select id="queryOrderCommentFalse" parameterType="OrderCommentFalseVo"
		resultType="OrderCommentFalse">
		select * from dt_order_comment_false dt1,
		(
		select top 20 id from
		(
		select top(#{index}*20) id from dt_order_comment_false where 1=1
		order by id desc
		)dt order by dt.id asc
		)dt2 where dt1.id=dt2.id order by dt1.id
	</select>


	<select id="getOrderCommentFalse" parameterType="int"
		resultType="OrderCommentFalse">
		select * from dt_order_comment_false where id=#{0}
	</select>

	<update id="updOrderCommentFalse" parameterType="OrderCommentFalse">
		update dt_order_comment_false set
		article_id=#{article_id},
		goods_name=#{goods_name},
		shop_user_id=#{shop_user_id},
		shop_user_role_type=#{shop_user_role_type},
		shop_user_role_value=#{shop_user_role_value},
		user_name=#{user_name},
		user_nice=#{user_nice},
		user_photo=#{user_photo},
		user_ip=#{user_ip},
		review_score=#{review_score},
		service_review_score=#{service_review_score},
		pack_review_score=#{pack_review_score},
		distribution_review_score=#{distribution_review_score},
		comment_content=#{comment_content},
		Show_photos=#{Show_photos},
		is_house=#{is_house},
		comment_time=#{comment_time},
		add_time=#{add_time},
		add_account=#{add_account},
		reply_area=#{reply_area},
		local_area=#{local_area},
		g_count=#{g_count}
		where id=#{id}
	</update>

	<insert id="addOrderCommentFalse" parameterType="OrderCommentFalse">
		insert into dt_order_comment_false
		(article_id,goods_name,shop_user_id,shop_user_role_type,shop_user_role_value,user_name,user_nice,user_photo,user_ip,review_score,service_review_score,pack_review_score,distribution_review_score,comment_content,Show_photos,is_house,comment_time,add_time,add_account,reply_area,local_area,g_count)
		values
		(#{article_id},#{goods_name},#{shop_user_id},#{shop_user_role_type},#{shop_user_role_value},#{user_name},#{user_nice},#{user_photo},#{user_ip},#{review_score},#{service_review_score},#{pack_review_score},#{distribution_review_score},#{comment_content},#{Show_photos},#{is_house},#{comment_time},
		#{add_time},#{add_account},#{reply_area},#{local_area},#{g_count})
	</insert>

	<delete id="delOrderCommentFalse" parameterType="int">
		delete from dt_order_comment_false where id=#{0}
	</delete>

	<select id="countOrderCommentTem" parameterType="OrderCommentTemVo"
		resultType="int">
		select count(*) from dt_order_comment_tem where 1=1
	</select>
	<select id="queryOrderCommentTem" parameterType="OrderCommentTemVo"
		resultType="OrderCommentTem">
		select * from dt_order_comment_tem dt1,
		(
		select top 20 id from
		(
		select top(#{index}*20) id from dt_order_comment_tem where 1=1
		order by id desc
		)dt order by dt.id asc
		)dt2 where dt1.id=dt2.id order by dt1.id
	</select>


	<select id="getOrderCommentTem" parameterType="int" resultType="OrderCommentTem">
		select * from dt_order_comment_tem where id=#{0}
	</select>

	<update id="updOrderCommentTem" parameterType="OrderCommentTem">
		update dt_order_comment_tem set
		order_tem_type=#{order_tem_type},
		order_tem_content=#{order_tem_content}
		where id=#{id}
	</update>

	<insert id="addOrderCommentTem" parameterType="OrderCommentTem">
		insert into dt_order_comment_tem
		(order_tem_type,order_tem_content)
		values (#{order_tem_type},#{order_tem_content})
	</insert>

	<delete id="delOrderCommentTem" parameterType="int">
		delete from dt_order_comment_tem where id=#{0}
	</delete>



</mapper>