@charset "utf-8";
/* CSS Document */

.category-icon,.category-icon-l,.category-icon-mini {
	display:inline-block;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.category-icon {
	width:36px;
	height:36px
}
.category-icon-l {
	width:48px;
	height:48px
}
.category-icon-mini {
	width:25px;
	height:25px
}
.iconSet-01 {
	background-image:url(iconsets/icon-set-01.png)
}
.iconSet-01-mini {
	background-image:url(iconsets/icon-set-01-subcate.png)
}
.iconSet-02 {
	background-image:url(iconsets/icon-set-02.png)
}
.iconSet-03 {
	background-image:url(iconsets/icon-set-03.png)
}
.iconSet-04 {
	background-image:url(iconsets/icon-set-04.png)
}
.iconSet-05 {
	background-image:url(iconsets/icon-set-05.png)
}
.c01-00,.ctype-0-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top;
}
.c01-00:hover,.ctype-0-1:hover {
	background-position:-614px 0;
}
.c01-00-large,.ctype-0-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-00-large,.ctype-0-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-01,.ctype-1-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-50px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-01:hover,.ctype-1-1:hover {
	background-position:-664px 0;
}
.c01-01-large,.ctype-1-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-01-large,.ctype-1-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-02,.ctype-2-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-100px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-02:hover,.ctype-2-1:hover {
	background-position:-714px 0px
}
.c01-02-large,.ctype-2-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-02-large,.ctype-2-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-03,.ctype-3-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-150px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-03:hover,.ctype-3-1:hover {
	background-position:-764px 0px
}
.c01-03-large,.ctype-3-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-03-large,.ctype-3-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-04,.ctype-4-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-200px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-04:hover,.ctype-4-1:hover {
	background-position:-814px 0px
}
.c01-04-large,.ctype-4-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-04-large,.ctype-4-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-05,.ctype-5-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-250px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-05:hover,.ctype-5-1:hover {
	background-position:-864px -0px
}
.c01-05-large,.ctype-5-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-05-large,.ctype-5-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-08,.ctype-8-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:0px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-08:hover,.ctype-8-1:hover {
	background-position: -614px -50px;
}
.c01-08-large,.ctype-8-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-08-large,.ctype-8-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-10,.ctype-10-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-50px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-10:hover,.ctype-10-1:hover {
	background-position:-664px -50px
}
.c01-10-large,.ctype-10-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-10-large,.ctype-10-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-12,.ctype-12-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-100px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-12:hover,.ctype-12-1:hover {
	background-position:-714px -50px
}
.c01-12-large,.ctype-12-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-12-large,.ctype-12-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-13,.ctype-13-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-150px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-13:hover,.ctype-13-1:hover {
	background-position:-764px -50px
}
.c01-13-large,.ctype-13-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-13-large,.ctype-13-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-14,.ctype-14-1,.c01-24,.ctype-24-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-200px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-14:hover,.ctype-14-1:hover,.c01-24:hover,.ctype-24-1:hover {
	background-position:-814px -50px
}
.c01-14-large,.ctype-14-1-large,.c01-24-large,.ctype-24-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-14-large,.ctype-14-1-large,.c01-24-large,.ctype-24-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-15,.ctype-15-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-250px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-15:hover,.ctype-15-1:hover {
	background-position:-864px -50px
}
.c01-15-large,.ctype-15-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-15-large,.ctype-15-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-16,.ctype-16-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:0 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-16:hover,.ctype-16-1:hover {
	background-position:-614px -100px
}
.c01-16-large,.ctype-16-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-16-large,.ctype-16-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-11,.ctype-11-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-50px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-11:hover,.ctype-11-1:hover {
	background-position:-664px -100px
}
.c01-11-large,.ctype-11-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-11-large,.ctype-11-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-18,.ctype-18-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-100px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-18:hover,.ctype-18-1:hover {
	background-position:-714px -100px
}
.c01-18-large,.ctype-18-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-18-large,.ctype-18-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-19,.ctype-19-1 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-01.png);
	background-position:-150px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-19:hover,.ctype-19-1:hover {
	background-position:-764px -100px
}
.c01-19-large,.ctype-19-1-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-19-large,.ctype-19-1-large {
	background-image:url(iconsets/icon-set-01.png)
}
.c01-10-01-mini {
	display:inline-block;
	width:25px !important;
	height:25px;
	background-image:url(iconsets/icon-set-01-subcate.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-10-02-mini {
	display:inline-block;
	width:25px !important;
	height:25px;
	background-image:url(iconsets/icon-set-01-subcate.png);
	background-position:-30px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-10-03-mini {
	display:inline-block;
	width:25px !important;
	height:25px;
	background-image:url(iconsets/icon-set-01-subcate.png);
	background-position:-60px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c01-10-04-mini {
	display:inline-block;
	width:25px !important;
	height:25px;
	background-image:url(iconsets/icon-set-01-subcate.png);
	background-position:-90px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}





.c02-00,.ctype-0-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-00:hover,.ctype-0-2:hover {
	background-position:-614px 0px
}
.c02-00-large,.ctype-0-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-00-large,.ctype-0-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-01,.ctype-1-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-50px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-01:hover,.ctype-1-2:hover {
	background-position:-664px 0px
}
.c02-01-large,.ctype-1-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-01-large,.ctype-1-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-02,.ctype-2-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-100px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-02:hover,.ctype-2-2:hover {
	background-position:-714px 0px
}
.c02-02-large,.ctype-2-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-02-large,.ctype-2-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-03,.ctype-3-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-150px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-03:hover,.ctype-3-2:hover {
	background-position:-764px 0px
}
.c02-03-large,.ctype-3-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-03-large,.ctype-3-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-04,.ctype-4-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-200px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-04:hover,.ctype-4-2:hover {
	background-position:-814px 0px
}
.c02-04-large,.ctype-4-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-04-large,.ctype-4-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-05,.ctype-5-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-250px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-05:hover,.ctype-5-2:hover {
	background-position:-864px 0px
}
.c02-05-large,.ctype-5-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-05-large,.ctype-5-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-08,.ctype-8-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:0px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-08:hover,.ctype-8-2:hover {
	background-position:-614px -50px
}
.c02-08-large,.ctype-8-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-08-large,.ctype-8-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-10,.ctype-10-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-50px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-10:hover,.ctype-10-2:hover {
	background-position:-664px -50px
}
.c02-10-large,.ctype-10-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-10-large,.ctype-10-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-12,.ctype-12-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-100px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-12:hover,.ctype-12-2:hover {
	background-position:-714px -50px
}
.c02-12-large,.ctype-12-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-12-large,.ctype-12-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-13,.ctype-13-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-150px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-13:hover,.ctype-13-2:hover {
	background-position:-764px -50px
}
.c02-13-large,.ctype-13-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-13-large,.ctype-13-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-14,.ctype-14-2,.c02-24,.ctype-24-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-200px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-14:hover,.ctype-14-2:hover,.c02-24:hover,.ctype-24-2:hover {
	background-position:-814px -50px
}
.c02-14-large,.ctype-14-2-large,.c02-24-large,.ctype-24-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-14-large,.ctype-14-2-large,.c02-24-large,.ctype-24-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-15,.ctype-15-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-250px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-15:hover,.ctype-15-2:hover {
	background-position:-864px -50px
}
.c02-15-large,.ctype-15-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-15-large,.ctype-15-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-16,.ctype-16-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:0px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-16:hover,.ctype-16-2:hover {
	background-position:-614px -100px
}
.c02-16-large,.ctype-16-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-16-large,.ctype-16-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c02-11,.ctype-11-2 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-02.png);
	background-position:-50px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-11:hover,.ctype-11-2:hover {
	background-position:-664px -100px
}
.c02-11-large,.ctype-11-2-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c02-11-large,.ctype-11-2-large {
	background-image:url(iconsets/icon-set-02.png)
}
.c03-00,.ctype-0-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-00:hover,.ctype-0-3:hover {
	background-position:-614px 0px
}
.c03-00-large,.ctype-0-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-00-large,.ctype-0-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-01,.ctype-1-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-50px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-01:hover,.ctype-1-3:hover {
	background-position:-664px 0px
}
.c03-01-large,.ctype-1-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-01-large,.ctype-1-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-02,.ctype-2-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-100px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-02:hover,.ctype-2-3:hover {
	background-position:-714px 0px
}
.c03-02-large,.ctype-2-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-02-large,.ctype-2-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-03,.ctype-3-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-150px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-03:hover,.ctype-3-3:hover {
	background-position:-764px 0px
}
.c03-03-large,.ctype-3-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-03-large,.ctype-3-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-04,.ctype-4-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-200px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-04:hover,.ctype-4-3:hover {
	background-position:-814px 0px
}
.c03-04-large,.ctype-4-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-04-large,.ctype-4-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-05,.ctype-5-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-250px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-05:hover,.ctype-5-3:hover {
	background-position:-864px 0px
}
.c03-05-large,.ctype-5-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-05-large,.ctype-5-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-08,.ctype-8-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:0px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-08:hover,.ctype-8-3:hover {
	background-position:-614px -50px
}
.c03-08-large,.ctype-8-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-08-large,.ctype-8-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-10,.ctype-10-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-50px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-10:hover,.ctype-10-3:hover {
	background-position:-664px -50px
}
.c03-10-large,.ctype-10-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-10-large,.ctype-10-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-12,.ctype-12-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-100px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-12:hover,.ctype-12-3:hover {
	background-position:-714px -50px
}
.c03-12-large,.ctype-12-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-12-large,.ctype-12-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-13,.ctype-13-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-150px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-13:hover,.ctype-13-3:hover {
	background-position:-764px -50px
}
.c03-13-large,.ctype-13-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-13-large,.ctype-13-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-14,.ctype-14-3,.c03-24,.ctype-24-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-200px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-14:hover,.ctype-14-3:hover,.c03-24:hover,.ctype-24-3:hover {
	background-position:-814px -50px
}
.c03-14-large,.ctype-14-3-large,.c03-24-large,.ctype-24-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-14-large,.ctype-14-3-large,.c03-24-large,.ctype-24-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-15,.ctype-15-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-250px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-15:hover,.ctype-15-3:hover {
	background-position:-864px -50px
}
.c03-15-large,.ctype-15-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-15-large,.ctype-15-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-16,.ctype-16-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:0 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-16:hover,.ctype-16-3:hover {
	background-position:-614px -100px
}
.c03-16-large,.ctype-16-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-16-large,.ctype-16-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c03-11,.ctype-11-3 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-03.png);
	background-position:-50px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-11:hover,.ctype-11-3:hover {
	background-position:-664px -100px
}
.c03-11-large,.ctype-11-3-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c03-11-large,.ctype-11-3-large {
	background-image:url(iconsets/icon-set-03.png)
}
.c04-00,.ctype-0-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-00:hover,.ctype-0-4:hover {
	background-position:-614px 0px
}
.c04-00-large,.ctype-0-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-00-large,.ctype-0-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-01,.ctype-1-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-50px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-01:hover,.ctype-1-4:hover {
	background-position:-664px 0px
}
.c04-01-large,.ctype-1-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-01-large,.ctype-1-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-02,.ctype-2-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-100px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-02:hover,.ctype-2-4:hover {
	background-position:-714px 0px
}
.c04-02-large,.ctype-2-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-02-large,.ctype-2-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-03,.ctype-3-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-150px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-03:hover,.ctype-3-4:hover {
	background-position:-764px 0px
}
.c04-03-large,.ctype-3-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-03-large,.ctype-3-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-04,.ctype-4-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-200px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-04:hover,.ctype-4-4:hover {
	background-position:-814px 0px
}
.c04-04-large,.ctype-4-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-04-large,.ctype-4-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-05,.ctype-5-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-250px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-05:hover,.ctype-5-4:hover {
	background-position:-864px 0px
}
.c04-05-large,.ctype-5-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-05-large,.ctype-5-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-08,.ctype-8-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:0px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-08:hover,.ctype-8-4:hover {
	background-position:-614px -50px
}
.c04-08-large,.ctype-8-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-08-large,.ctype-8-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-10,.ctype-10-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-50px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-10:hover,.ctype-10-4:hover {
	background-position:-664px -50px
}
.c04-10-large,.ctype-10-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-10-large,.ctype-10-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-12,.ctype-12-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-100px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-12:hover,.ctype-12-4:hover {
	background-position:-714px -50px
}
.c04-12-large,.ctype-12-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-12-large,.ctype-12-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-13,.ctype-13-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-150px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-13:hover,.ctype-13-4:hover {
	background-position:-764px -50px
}
.c04-13-large,.ctype-13-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-13-large,.ctype-13-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-14,.ctype-14-4,.c04-24,.ctype-24-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-200px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-14:hover,.ctype-14-4:hover,.c04-24:hover,.ctype-24-4:hover {
	background-position:-814px -50px
}
.c04-14-large,.ctype-14-4-large,.c04-24-large,.ctype-24-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-14-large,.ctype-14-4-large,.c04-24-large,.ctype-24-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-15,.ctype-15-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-250px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-15:hover,.ctype-15-4:hover {
	background-position:-864px -50px
}
.c04-15-large,.ctype-15-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-15-large,.ctype-15-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-16,.ctype-16-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:0 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-16:hover,.ctype-16-4:hover {
	background-position:-614px -100px
}
.c04-16-large,.ctype-16-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-16-large,.ctype-16-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c04-11,.ctype-11-4 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-04.png);
	background-position:-50px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-11:hover,.ctype-11-4:hover {
	background-position:-664px -100px
}
.c04-11-large,.ctype-11-4-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c04-11-large,.ctype-11-4-large {
	background-image:url(iconsets/icon-set-04.png)
}
.c05-00,.ctype-0-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-00:hover,.ctype-0-5:hover {
	background-position:-614px 0px
}
.c05-00-large,.ctype-0-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-00-large,.ctype-0-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-01,.ctype-1-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-50px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-01:hover,.ctype-1-5:hover {
	background-position:-664px 0px
}
.c05-01-large,.ctype-1-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-01-large,.ctype-1-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-02,.ctype-2-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-100px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-02:hover,.ctype-2-5:hover {
	background-position:-714px 0px
}
.c05-02-large,.ctype-2-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-02-large,.ctype-2-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-03,.ctype-3-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-150px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-03:hover,.ctype-3-5:hover {
	background-position:-764px 0px
}
.c05-03-large,.ctype-3-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-03-large,.ctype-3-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-04,.ctype-4-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-200px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-04:hover,.ctype-4-5:hover {
	background-position:-814px 0px
}
.c05-04-large,.ctype-4-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-04-large,.ctype-4-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-05,.ctype-5-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-250px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-05:hover,.ctype-5-5:hover {
	background-position:-864px 0px
}
.c05-05-large,.ctype-5-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px 0px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-05-large,.ctype-5-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-08,.ctype-8-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:0px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-08:hover,.ctype-8-5:hover {
	background-position:-614px -50px
}
.c05-08-large,.ctype-8-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-08-large,.ctype-8-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-10,.ctype-10-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-50px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-10:hover,.ctype-10-5:hover {
	background-position:-664px -50px
}
.c05-10-large,.ctype-10-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-10-large,.ctype-10-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-12,.ctype-12-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-100px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-12:hover,.ctype-12-5:hover {
	background-position:-714px -50px
}
.c05-12-large,.ctype-12-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-400px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-12-large,.ctype-12-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-13,.ctype-13-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-150px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-13:hover,.ctype-13-5:hover {
	background-position:-764px -50px
}
.c05-13-large,.ctype-13-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-450px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-13-large,.ctype-13-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-14,.ctype-14-5,.c05-24,.ctype-24-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-200px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-14:hover,.ctype-14-5:hover,.c05-24:hover,.ctype-24-5:hover {
	background-position:-814px -50px
}
.c05-14-large,.ctype-14-5-large,.c05-24-large,.ctype-24-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-500px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-14-large,.ctype-14-5-large,.c05-24-large,.ctype-24-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-15,.ctype-15-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-250px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-15:hover,.ctype-15-5:hover {
	background-position:-864px -50px
}
.c05-15-large,.ctype-15-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-550px -50px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-15-large,.ctype-15-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-16,.ctype-16-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:0 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-16:hover,.ctype-16-5:hover {
	background-position:-614px -100px
}
.c05-16-large,.ctype-16-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-300 -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-16-large,.ctype-16-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c05-11,.ctype-11-5 {
	display:inline-block;
	width:36px;
	height:36px;
	background-image:url(iconsets/icon-set-05.png);
	background-position:-50px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-11:hover,.ctype-11-5:hover {
	background-position:-664px -100px
}
.c05-11-large,.ctype-11-5-large {
	display:inline-block;
	width:48px;
	height:48px;
	background-position:-350px -100px;
	background-repeat:no-repeat;
	vertical-align:text-top
}
.c05-11-large,.ctype-11-5-large {
	background-image:url(iconsets/icon-set-05.png)
}
.c01-20,.c01-20-large,.ctype-20-1,.ctype-20-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-20,.c02-20-large,.ctype-20-2,.ctype-20-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-20,.c03-20-large,.ctype-20-3,.ctype-20-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-20,.c04-20-large,.ctype-20-4,.ctype-20-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-20,.c05-20-large,.ctype-20-5,.ctype-20-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
.c01-21,.c01-21-large,.ctype-21-1,.ctype-21-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-21,.c02-21-large,.ctype-21-2,.ctype-21-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-21,.c03-21-large,.ctype-21-3,.ctype-21-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-21,.c04-21-large,.ctype-21-4,.ctype-21-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-21,.c05-21-large,.ctype-21-5,.ctype-21-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
.c01-22,.c01-22-large,.ctype-22-1,.ctype-22-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-22,.c02-22-large,.ctype-22-2,.ctype-22-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-22,.c03-22-large,.ctype-22-3,.ctype-22-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-22,.c04-22-large,.ctype-22-4,.ctype-22-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-22,.c05-22-large,.ctype-22-5,.ctype-22-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
.c01-23,.c01-23-large,.ctype-23-1,.ctype-23-1-large,.ctype-31-1, .ctype-31-2,.ctype-31-3,.ctype-31-4 {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-23,.c02-23-large,.ctype-23-2,.ctype-23-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-23,.c03-23-large,.ctype-23-3,.ctype-23-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-23,.c04-23-large,.ctype-23-4,.ctype-23-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-23,.c05-23-large,.ctype-23-5,.ctype-23-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
.c01-20,.c02-20,.c03-20,.c04-20,.c05-20,.ctype-20-1,.ctype-20-2,.ctype-20-3,.ctype-20-4,.ctype-20-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-250px -150px;
}
.c01-20:hover,.c02-20:hover,.c03-20:hover,.c04-20:hover,.c05-20:hover,.ctype-20-1:hover,.ctype-20-2:hover,.ctype-20-3:hover,.ctype-20-4:hover,.ctype-20-5:hover {
	background-position:-864px -150px;
}
.c01-20-large,.c02-20-large,.c03-20-large,.c04-20-large,.c05-20-large,.ctype-20-1-large,.ctype-20-2-large,.ctype-20-3-large,.ctype-20-4-large,.ctype-20-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-550px -150px;
}
.c01-21,.c02-21,.c03-21,.c04-21,.ctype-21-1,.ctype-21-2,.ctype-21-3,.ctype-21-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-150px -150px;
}
.c01-21:hover,.c02-21:hover,.c03-21:hover,.c04-21:hover,.ctype-21-1:hover,.ctype-21-2:hover,.ctype-21-3:hover,.ctype-21-4:hover {
	background-position:-764px -150px;
}
.c01-21-large,.c02-21-large,.c03-21-large,.c04-21-large,.ctype-21-1-large,.ctype-21-2-large,.ctype-21-3-large,.ctype-21-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-450px -150px;
}
.c05-21,.ctype-21-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-200px -200px;
}
.c05-21:hover,.ctype-21-5:hover {
	background-position:-814px -200px;
}
.c05-21-large,.ctype-21-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-500px -200px;
}
.c01-22,.c02-22,.c03-22,.c04-22,.ctype-22-1,.ctype-22-2,.ctype-22-3,.ctype-22-4,.ctype-31-1 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-200px -150px;
}
 .ctype-31-2,.ctype-31-3,.ctype-31-4{
 	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-100px -200px;
 }

.c01-22:hover,.c02-22:hover,.c03-22:hover,.c04-22:hover,.ctype-22-1:hover,.ctype-22-2:hover,.ctype-22-3:hover,.ctype-22-4:hover {
	background-position:-814px -150px;
}
.c01-22-large,.c02-22-large,.c03-22-large,.c04-22-large,.ctype-22-1-large,.ctype-22-2-large,.ctype-22-3-large,.ctype-22-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-500px -150px;
}
.c05-22,.ctype-22-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-250px -200px;
}
.c05-22:hover,.ctype-22-5:hover {
	background-position:-864px -200px;
}
.c05-22-large,.ctype-22-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-550px -200px;
}
.c01-23,.c02-23,.c03-23,.c04-23,.ctype-23-1,.ctype-23-2,.ctype-23-3,.ctype-23-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-100px -150px;
}
.c01-23:hover,.c02-23:hover,.c03-23:hover,.c04-23:hover,.ctype-23-1:hover,.ctype-23-2:hover,.ctype-23-3:hover,.ctype-23-4:hover {
	background-position:-714px -150px;
}
.c01-23-large,.c02-23-large,.c03-23-large,.c04-23-large,.ctype-23-1-large,.ctype-23-2-large,.ctype-23-3-large,.ctype-23-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-400px -150px;
}
.c05-23,.ctype-23-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-150px -200px;
}
.c05-23:hover,.ctype-23-5:hover {
	background-position:-764px -200px;
}
.c05-23-large,.ctype-23-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-450px -200px;
}
/* ctype-25-1 */
.c01-25,.c01-25-large,.ctype-25-1,.ctype-25-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-25,.c02-25-large,.ctype-25-2,.ctype-25-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-25,.c03-25-large,.ctype-25-3,.ctype-25-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-25,.c04-25-large,.ctype-25-4,.ctype-25-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-25,.c05-25-large,.ctype-25-5,.ctype-25-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
/* ctype-26-1 */
.c01-26,.c01-26-large,.ctype-26-1,.ctype-26-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-26,.c02-26-large,.ctype-26-2,.ctype-26-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-26,.c03-26-large,.ctype-26-3,.ctype-26-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-26,.c04-26-large,.ctype-26-4,.ctype-26-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-26,.c05-26-large,.ctype-26-5,.ctype-26-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
/* ctype-27-1 */
.c01-27,.c01-27-large,.ctype-27-1,.ctype-27-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-27,.c02-27-large,.ctype-27-2,.ctype-27-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-27,.c03-27-large,.ctype-27-3,.ctype-27-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-27,.c04-27-large,.ctype-27-4,.ctype-27-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-27,.c05-27-large,.ctype-27-5,.ctype-27-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
/* ctype-28-1 */
.c01-28,.c01-28-large,.ctype-28-1,.ctype-28-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-28,.c02-28-large,.ctype-28-2,.ctype-28-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-28,.c03-28-large,.ctype-28-3,.ctype-28-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-28,.c04-28-large,.ctype-28-4,.ctype-28-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-28,.c05-28-large,.ctype-28-5,.ctype-28-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}
/* ctype-29-1 */
.c01-29,.c01-29-large,.ctype-29-1,.ctype-29-1-large {
	background-image:url(iconsets/icon-set-01.png);
	background-repeat:no-repeat;
}
.c02-29,.c02-29-large,.ctype-29-2,.ctype-29-2-large {
	background-image:url(iconsets/icon-set-02.png);
	background-repeat:no-repeat;
}
.c03-29,.c03-29-large,.ctype-29-3,.ctype-29-3-large {
	background-image:url(iconsets/icon-set-03.png);
	background-repeat:no-repeat;
}
.c04-29,.c04-29-large,.ctype-29-4,.ctype-29-4-large {
	background-image:url(iconsets/icon-set-04.png);
	background-repeat:no-repeat;
}
.c05-29,.c05-29-large,.ctype-29-5,.ctype-29-5-large {
	background-image:url(iconsets/icon-set-05.png);
	background-repeat:no-repeat;
}

/* ctype-25-1 */
.c01-25,.c02-25,.c03-25,.c04-25,.ctype-25-1,.ctype-25-2,.ctype-25-3,.ctype-25-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:0 -200px;
}
.c01-25:hover,.c02-25:hover,.c03-25:hover,.c04-25:hover,.ctype-25-1:hover,.ctype-25-2:hover,.ctype-25-3:hover,.ctype-25-4:hover {
	background-position:-614px -200px;
}
.c01-25-large,.c02-25-large,.c03-25-large,.c04-25-large,.ctype-25-1-large,.ctype-25-2-large,.ctype-25-3-large,.ctype-25-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-300px -250px;
}
.c05-25,.ctype-25-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:0px -250px;
}
.c05-25:hover,.ctype-25-5:hover {
	background-position:-614px -250px;
}
.c05-25-large,.ctype-25-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-300px -250px;
}

/* ctype-26-1 */
.c01-26,.c02-26,.c03-26,.c04-26,.ctype-26-1,.ctype-26-2,.ctype-26-3,.ctype-26-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:0 -150px;
}
.c01-26:hover,.c02-26:hover,.c03-26:hover,.c04-26:hover,.ctype-26-1:hover,.ctype-26-2:hover,.ctype-26-3:hover,.ctype-26-4:hover {
	background-position:-614px -150px;
}
.c01-26-large,.c02-26-large,.c03-26-large,.c04-26-large,.ctype-26-1-large,.ctype-26-2-large,.ctype-26-3-large,.ctype-26-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-300px -150px;
}
.c05-26,.ctype-26-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-50px -200px;
}
.c05-26:hover,.ctype-26-5:hover {
	background-position:-664px -200px;
}
.c05-26-large,.ctype-26-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-350px -200px;
}
/* ctype-27-1 */
.c01-27,.c02-27,.c03-27,.c04-27,.ctype-27-1,.ctype-27-2,.ctype-27-3,.ctype-27-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-200px -100px;
}
.c01-27:hover,.c02-27:hover,.c03-27:hover,.c04-27:hover,.ctype-27-1:hover,.ctype-27-2:hover,.ctype-27-3:hover,.ctype-27-4:hover {
	background-position:-814px -100px;
}
.c01-27-large,.c02-27-large,.c03-27-large,.c04-27-large,.ctype-27-1-large,.ctype-27-2-large,.ctype-27-3-large,.ctype-27-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-400px -100px;
}
.c05-27,.ctype-27-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:0 -200px;
}
.c05-27:hover,.ctype-27-5:hover {
	background-position:-614px -200px;
}
.c05-27-large,.ctype-27-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-300px -200px;
}

/* ctype-28-1 */
.c01-28,.c02-28,.c03-28,.c04-28,.ctype-28-1,.ctype-28-2,.ctype-28-3,.ctype-28-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-250px -100px;
}
.c01-28:hover,.c02-28:hover,.c03-28:hover,.c04-28:hover,.ctype-28-1:hover,.ctype-28-2:hover,.ctype-28-3:hover,.ctype-28-4:hover {
	background-position:-864px -100px;
}
.c01-28-large,.c02-28-large,.c03-28-large,.c04-28-large,.ctype-28-1-large,.ctype-28-2-large,.ctype-28-3-large,.ctype-28-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-550px -100px;
}
.c05-28,.ctype-28-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-50px -100px;
}
.c05-28:hover,.ctype-28-5:hover {
	background-position:-664px -100px;
}
.c05-28-large,.ctype-28-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-350px -100px;
}
/* ctype-29-1 */
.c01-29,.c02-29,.c03-29,.c04-29,.ctype-29-1,.ctype-29-2,.ctype-29-3,.ctype-29-4 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-50px -200px;
}
.c01-29:hover,.c02-29:hover,.c03-29:hover,.c04-29:hover,.ctype-29-1:hover,.ctype-29-2:hover,.ctype-29-3:hover,.ctype-29-4:hover {
	background-position:-664px -200px;
}
.c01-29-large,.c02-29-large,.c03-29-large,.c04-29-large,.ctype-29-1-large,.ctype-29-2-large,.ctype-29-3-large,.ctype-29-4-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-350px -200px;
}
.c05-29,.ctype-29-5 {
	display:inline-block;
	vertical-align:text-top;
	width:36px;
	height:36px;
	background-position:-50px -250px;
}
.c05-29:hover,.ctype-29-5:hover {
	background-position:-664px -250px;
}
.c05-29-large,.ctype-29-5-large {
	display:inline-block;
	vertical-align:text-top;
	width:48px;
	height:48px;
	background-position:-350px -250px;
}

.insure {
	display:block;
	position:relative;
}
.insure a {
	cursor:pointer;
	margin-left:30px;
}
.tooltip1 {
	display:none;
	position:absolute;
	top:-223px;
	left:245px;
	width:350px;
	border:1px solid #ccc;
	background-color:#fff;
	padding:10px;
	border-radius:5px;
}
.corner1,.corner2 {
	position:absolute;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	border-width:6px;
	border-style:solid;
	_border-style:dashed;
}
.cornerContent1,.cornerContent2 {
	position:absolute;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	border-width:6px;
	border-style:solid;
	_border-style:dashed;
}
.corner1 {
	top:238px;
	left:-13px;
	border-color:#ccc #ccc transparent transparent;
}
.cornerContent1 {
	top:-6px;
	left:-4px;
	border-color:#fff #fff transparent transparent;
}
.corner2 {
	top:226px;
	left:-13px;
	border-color:transparent #ccc #ccc transparent;
}
.cornerContent2 {
	top:-6px;
	left:-4px;
	border-color:transparent #fff #fff transparent;
}
